<div class="btn-group pull-left">
    <a class="btn dropdown-toggle disabled" data-toggle="dropdown">
        {{translate "Batch operations"}}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
        {{#if toggles.trash}}
            <a class="restore">
                {{translate "Restore selected"}}
            </a>
        {{else}}
            <a class="publish">
                {{translate "Publish selected"}}
            </a>
        {{/if}}
        </li>

        <li>
            <a class="remove">
                {{#if toggles.trash}}
                    {{translate "Permanently remove selected"}}
                {{else}}
                    {{#if trashEnabled}}
                    {{translate "Trash selected"}}
                    {{else}}
                    {{translate "Permanently remove selected"}}
                    {{/if}}
                {{/if}}
            </a>
        </li>
    </ul>
</div>
