<form class="form-search">
    <div class="input-prepend">
        <span class="add-on"><i class="icon-search"></i></span>
        <input name="q" type="text" placeholder="{{translate "Type to search"}}" class="input-medium">
    </div>

    <div class="eze-filters">
        <p class="description">{{translate "Last edit date"}}</p>
        <select class="chzn-select date-facet" name="date">
            <option value="">{{translate "All time"}}</option>
            {{#each periods}}
            <option value="{{key}}">{{translate value}}</option>
            {{/each}}
        </select>

        <p class="description">{{translate "Content type"}}</p>
        <select class="type-facet" name="type"></select>

        <div class="eze-facet-author">
            <p class="description">{{translate "By author"}}</p>
            <select class="author-facet" name="author" disabled="disabled">
                <option value="">{{translate "All authors"}}</option>
            </select>
        </div>
    </div>
</form>
