<section class="eze-table">
    <h1>{{translate "All content"}} </h1>

    <section class="eze-table-actions">
        <input type="checkbox" class="check-all">
        <div class="batch"></div>
        <div class="table-toggles"></div>
    </section>

    <section class="eze-filters-wrap"></section>

    <section class="eze-table-content">
    </section>
</section>
