<div class="sort-by">
    <h2>{{translate "Sort by"}}</h2>
    <div class="btn-group">
        <button data-sort="date"
            class="btn {{#if sortby.date}}active{{/if}}"
            type="button">
            {{translate "Date"}}
        </button>

        <button data-sort="author"
            class="btn {{#if sortby.author}}active{{/if}}"
            type="button">
            {{translate "Author"}}
        </button>

        <button data-sort="type"
            class="btn {{#if sortby.type}}active{{/if}}"
            type="button">
            {{translate "Content type"}}
        </button>
    </div>
</div>

<div class="show-content-toggle">
    <h2>{{translate "Show"}}</h2>
    <div class="btn-group show" data-toggle="buttons-radio">
        <button type="button"
            class="btn {{#if toggles.published}}active{{/if}}"
            data-mine=0>
            {{translate "Published"}}
        </button>

        <button type="button"
            class="btn {{#if toggles.mine}}active{{/if}}"
            data-mine=1>
            {{translate "My drafts"}}
        </button>

        {{#if trashEnabled}}
        <button type="button"
            class="btn {{#if toggles.trash}}active{{/if}}"
            data-trash=1
            data-mine=0>
            {{translate "Trash"}}
        </button>
        {{/if}}
    </div>
</div>
