<div class="nodestructure-actions">
    <div class="heading">
        {{#if hasThumb}}
            <div class="thumb" style="background:url({{node.object.thumb}}) center center no-repeat;background-size:cover"></div>
        {{else}}
            <img src="{{classIcon id=class.id size=48}}" class="icon-48" />
        {{/if}}

        <h3>{{class.name}}</h3>

        <h2>«{{node.name}}»</h2>

        <div class="meta">
            <ul>
                {{#if node.object}}
                    <li><span>{{translate "Author"}}</span>{{#if node.object.author}}{{node.object.author.name}}{{/if}}
                    </li>
                    <li><span>{{translate "Modified"}}</span>{{node.object.modified}}</li>
                {{/if}}
                {{#if node.status}}
                    <li>
                        <span>{{translate "Status"}}</span>
                        <i class="status-icon {{node.status.status}}"></i>
                        {{cap node.status.status "translate"}}
                    </li>
                {{/if}}
            </ul>
        </div>
    </div>
</div>

<ul class="action-buttons clearfix">

    {{#if actions.read}}
        <li>
            <button href="{{node.url}}" class="btn show">{{translate "View"}}</button>
        </li>
    {{/if}}
    {{#if actions.edit}}
        <li>
            <button class="btn edit">{{translate "Edit"}}</button>
        </li>
    {{/if}}
    {{#if actions.copy}}
        <li>
            <button class="btn copy">{{translate "Copy"}}</button>
        </li>
    {{/if}}

    {{#if actions.hide}}
        <li>
            <div class="well well-small option-controller">
                <label>
                    <input class="toggle-visibility" type="checkbox"{{#if node.hidden}} checked{{/if}}>
                    {{translate "Hide this content"}}
                </label>
            </div>
        </li>
    {{/if}}

</ul>