<div class="input-append">
    <input class="span2 search" type="text" placeholder="{{translate "Search"}}..." />
    <span class="add-on"><i class="icon-search"></i></span>
</div>
<ul class="nodes"></ul>