<div class="confirm-needed">
    <div class="confirm">
        <p>{{translate "Are you sure you want to remove"}} "{{name}}"?</p>
        <button type="button" class="fatal" data-node-id="{{node.id}}">{{translate "Remove"}}</button>
        <button type="button" class="abort">{{translate "Keep"}}</button>
    </div>
</div>