<div class="finder">
    <div class="breadcrumbs"><p></p></div>
    <div style="clear:both;"></div>
    <div class="kp-finder-content">
        <div class="kp-columns-wrapper">
            <div class="kp-columns"></div>
        </div>
        <div class="actions"></div>
    </div>
</div>
