{{#if showLocations}}
    <div class="options-menu">
        <ul class="kp-edit-block-elements">
            {{#each locations}}
                <li class="location{{#if this.checked}} active{{/if}}">
                    <a class="item" data-id="{{this.id}}">
                        <span class="eze-checkbox">
                            <span></span>
                        </span>
                        <strong>{{translate "Show"}}</strong> {{translate "subcontent below"}} {{this.name}}
                    </a>
                </li>
            {{/each}}
            <li class="separator"></li>
        </ul>
    </div>
{{/if}}

<h1>{{translate "Content under"}} {{translate currentLocation}}</h1>
<p class="description">{{translate "Edit and sort content under this page"}}</p>

{{#if hasAnyChildren}}<ul class="eze-items"></ul>{{/if}}

<button type="button" class="btn show-more hide">{{translate "Show more"}}</button>