<select class="chzn-select">
    {{#each sortOptions}}
        <option value="{{id}}"{{#if selected}} selected{{/if}}>{{cap name true}}</option>
    {{/each}}
</select>
<div class="pull-right btn-group order">
    <button type="button" class="btn btn-small asc{{#if asc}} active{{/if}}" data-value="1" {{#if asc}}disabled="disabled" {{/if}}>↑</button>
    <button type="button" class="btn btn-small desc{{#if desc}} active{{/if}}" data-value="0" {{#if desc}}disabled="disabled" {{/if}}>↓</button>
</div>
