<div class="wrapper"></div>
<input class="datepicker" type="date" value="{{date}}" />

<div class="timewrap">
    <span class="gfx"></span>
    <div class="dragwrap">
        <div class="drag"></div>
        <div class="drag ghost"></div>
    </div>
    <ul>
        <li class="even">1:00</li>
        <li>2:00</li>
        <li class="even">3:00</li>
        <li>4:00</li>
        <li class="even">5:00</li>
        <li>6:00</li>
        <li class="even">7:00</li>
        <li>8:00</li>
        <li class="even">9:00</li>
        <li>10:00</li>
        <li class="even">11:00</li>
        <li>12:00</li>
        <li class="even">13:00</li>
        <li>14:00</li>
        <li class="even">15:00</li>
        <li>16:00</li>
        <li class="even">17:00</li>
        <li>18:00</li>
        <li class="even">19:00</li>
        <li>20:00</li>
        <li class="even">21:00</li>
        <li>22:00</li>
        <li class="even">23:00</li>
        <li>24:00</li>
    </ul>
</div>