{{#if entry.canRemove}}
    <a class="remove-entry">{{translate "Delete"}}</a>
{{/if}}

{{#unless entry.isMine}}
    {{#if youLike}}
        <a class="unlike" href="#">{{translate "Unlike"}}</a>
    {{else}}
        <a class="like" href="#">{{translate "Like"}}</a>
    {{/if}}
{{/unless}}

{{#if hasLikes}}
    {{translate likeText}} {{translate "like this"}}
{{/if}}