{{#if showHeading}}
<h1>{{translate "Activity"}}</h1>
<p class="description">{{translate "Comments on this content"}}</p>
{{/if}}

{{#if showTabs}}
    <div class="btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn active" data-object-id="{{objectId}}">{{translate "This page"}}</button>
        <button type="button" class="btn" data-object-id="null">{{translate "All activity"}}</button>
        <button type="button" class="btn" data-mentions="1">@{{translate "me"}}</button>
    </div>
{{/if}}

<div class="input-append add-message">
    <input class="message-input write-post" type="text" placeholder="{{translate "Write message"}}…" size="16" />
    <button type="button" class="btn">{{translate "Share"}}</button>
    <img class="icon-16 hide" src="/extension/ezexceed/design/ezexceed/images/loader.gif" />
</div>

<div class="comments-container"></div>

<button type="button" class="btn show-more hide">{{translate "Show more"}}</button>
