{{#if images.thumb}}
<div class="thumb" style="background:url({{images.thumb}}) center center no-repeat;background-size:cover">
{{else}}
<div class="thumb">
    <img class="class-icon icon-48" src="{{classIcon id=classId size=48}}">
{{/if}}
</div>


<h2><a class="edit">{{name}}</a></h2>
<p>
    <img src="{{classIcon id=classId size=16}}" alt="{{type}}" class="icon-16">
    {{type}}
</p>

<div class="actions">
    <div class="well well-small option-controller">
        <label>
            {{#if multiple}}
            <input class="select" type="checkbox" {{#if selected}} checked{{/if}}>
            {{else}}
            <input class="select" name="eze-find-select" type="radio" {{#if selected}} checked{{/if}}>
            {{/if}}
            {{translate "Select this content"}}
        </label>
    </div>
</div>
