<li data-name="{{name}}"
    data-email="{{email}}">
    <div class="wrap">
        <img src="{{icon "User" size=16}}" class="icon-16">
        <input type="text" value="{{name}}" class="eze-name" placeholder="{{translate "Name"}}" />
        <input type="email" value="{{email}}" class="eze-email" placeholder="{{translate "E-mail"}}" />
        <div class="right-align">
            <button type="button" class="btn btn-mini remove remove-btn">x</button>
        </div>
    </div>
</li>
