<tr>
    <td>
        <input class="rowSelect" type="checkbox" name="{{base}}_data_matrix_remove_{{attributeId}}[]" value="{{rowIndex}}"
        title="{{translate 'Select row for removal'}}" />
    </td>
    {{#each cells}}
    <td>
        <input class="box" type="text" name="{{base}}_ezmatrix_cell_{{attributeId}}[]" value="" placeholder="..." />
    </td>
    {{/each}}
</tr>