<tr>
    <td>
        <input type="text" class="eze-save option input-medium"
            name="{{base}}_data_option_value_{{id}}">
    </td>

    {{#unless config.informationCollection}}
    <td>
        <input type="text"
            class="eze-save price input-small"
            name="{{base}}_data_option_additional_price_{{id}}">
    </td>
    {{/unless}}

    <td>
        <button type="button" class="btn btn-danger btn-mini remove" data-id="{{id}}">
            {{translate "Remove"}}
        </button>

        <input type="hidden"
            class="eze-save id"
            value="{{index}}"
            name="{{base}}_data_option_id_{{id}}">
    </td>
</tr>
