<section class="stack-item {{#if first}} first{{/if}}">
    <header>
        <h1>
            <div class="iconwrap">

                {{#if classId}}
                <img class="icon-32" src="{{classIcon id=classId size=32}}">
                <img class="icon-16" src="{{classIcon id=classId size=16}}">
                {{else}}
                    {{#if classIdentifier}}
                    <img class="icon-32" src="{{classIcon identifier=classIdentifier size=32}}">
                    <img class="icon-16" src="{{classIcon identifier=classIdentifier size=16}}">
                    {{else}}
                        {{#if icon}}
                        <img class="icon-32" src="{{icon icon size=32}}"/>
                        <img class="icon-16" src="{{icon icon size=16}}"/>
                        {{/if}}
                    {{/if}}
                {{/if}}

            </div>
            <span>{{translate heading}}</span>
        </h1>


        <div class="eze-autosave">
            {{#if autosave}}<p></p>{{/if}}
            <button class="go-back{{#if first}} close-stack{{else}} pop-stack{{/if}}"
                data-multiple="{{translate "Close all"}}" data-one="{{translate "Close"}}">

                {{#if first}}
                    <img src="{{icon "StackClose"}}"><span>{{translate "Close"}}</span>
                {{else}}
                    <img src="{{icon "StackBack"}}"><span>{{translate "Go back"}}</span>
                {{/if}}

            </button>
        </div>
    </header>
    <section class="eze-stack-content {{className}}">{{{content}}}</section>
</section>
