<option value="">{{translate "All content types"}}</option>
{{#each this}}
    <option value="{{key}}" {{#if selected}}selected{{/if}}>{{value}}{{#unless hideCount}} ({{objectCount}}){{/unless}}</option>
{{/each}}