<label class="check"><input type="checkbox" class="select"></label>
{{#if images.thumb}}
<div class="thumb" style="background:url({{images.thumb}}) center center no-repeat;background-size:cover">
{{else}}
<div class="thumb">
    <img class="class-icon icon-48" src="{{classIcon id=classId size=48}}">
{{/if}}
</div>

<h2>
    {{#if canEdit}}
        <a href="#{{id}}:{{version}}" class="edit">
    {{else}}
        <span class="edit">
    {{/if}}

    {{#if hasName}}
        {{name}}
    {{else}}
        {{translate "No name"}}
    {{/if}}

    {{#if canEdit}}
        </a>
    {{else}}
        </span>
    {{/if}}

</h2>
<p>

{{#unless deleted}}
    {{#if published}}
        <span class="label label-success" title="#{{version}}">{{translate "Published"}}</span>
        {{dateFormat published}} {{translate "by"}} {{publishedBy.name}}
        {{#if changed}}
            <span class="label label-info" title="#{{changedVersion}}">{{translate "I changed"}}</span>
            {{dateFormat changed}}
        {{/if}}
    {{else}}
        <span class="label label-important" title="#{{version}}">{{translate "Never published"}}</span>
    {{/if}}
    <br>
{{/unless}}

    <img src="{{classIcon id=classId size=16}}" alt="{{type}}" class="icon-16">
    {{type}}{{#if loc}}, {{translate "published on"}} <a href="{{loc.url}}" title="{{translate "Go to"}} &laquo;{{loc.pathFormatted}}&raquo;">{{loc.name}}</a>
        {{#if multipleLocations}}
        {{translate "and"}} {{multipleLocations}} {{translate otherLocationsString}}</span>
        {{/if}}
    {{/if}}
</p>
