<div class="eze-iconwrap">
    <img class="alert-icon" src="/extension/ezexceed/design/ezexceed/images/kp//16x16/white/Reload.png" />
</div>
<div class="message-wrap">
    <h1>{{translate textHeading}}</h1>
    <p>{{translate textDescription}}</p>
</div>
