// Keyframe Animations

@-webkit-keyframes table-publish
	0%
		background: #fff
	100%
		background: #bee9bf

@-moz-keyframes table-publish
	0%
		background: #fff
	100%
		background: #bee9bf

@-webkit-keyframes removing
	0%
		opacity: 1
	100%
		opacity: 0

@-moz-keyframes removing
	0%
		opacity: 1
	100%
		opacity: 0

@-webkit-keyframes autosave-highlight
	0%
		background: rgba(255,204,0,0)
	50%
		background: rgba(255,204,0,1)

	100%
		background: rgba(255,204,0,0)

@-moz-keyframes autosave-highlight
	0%
		background: rgba(255,204,0,0)
	50%
		background: rgba(255,204,0,1)

	100%
		background: rgba(255,204,0,0)



// Stack


@-webkit-keyframes fade-in
	0%
		opacity: 0

	100%
		opacity: 1

@-moz-keyframes fade-in
	0%
		opacity: 0
		
	100%
		opacity: 1


@-webkit-keyframes stack-content-move-in
	0%
		opacity: 0
		
	100%
		opacity: 1

@-webkit-keyframes stack-content-move-out
	100%
		opacity: 0
		top: 150px

@-moz-keyframes stack-content-move-out
	100%
		opacity: 0
		top: 150px




@-webkit-keyframes stack-header-move-in
	0%
		opacity: 0
		margin-top: 40px

	50%
		opacity: 1

	60%
		margin-top: -5px

	100%
		margin-top: 0

@-moz-keyframes stack-header-move-in
	0%
		opacity: 0
		margin-top: 40px

	50%
		opacity: 1

	60%
		margin-top: -5px

	100%
		margin-top: 0





@-webkit-keyframes stack-header-move-out
	0%
		margin-top: 0

	60%
		margin-top: -5px
		opacity: 1

	100%
		margin-top: 60px
		opacity: 0

@-moz-keyframes stack-header-move-out
	0%
		margin-top: 0

	60%
		margin-top: -5px
		opacity: 1

	100%
		margin-top: 60px
		opacity: 0