@import mixins

.eze

    .eze-table
        position: absolute
        top: 20px
        left: 20px
        right: 20px
        bottom: 20px

        .eze-table-actions
            height: 35px
            margin-right: 220px
            @media screen and (max-width: 1070px)
                margin-right: 0

            .batch .btn
                float: left
                margin: 0 5px 10px 0

            .check-all
                float: left
                margin: 9px 5px 0 5px

            .table-toggles
                float: right
                position: relative
                z-index: 1
                @media screen and (max-width: 1070px)
                    float: left
                    clear: both
                    margin-top: -5px

                .sort-by, .show-content-toggle
                    float: right
                    margin-bottom: 5px
                    @media screen and (max-width: 1070px)
                        clear: none
                    @media screen and (max-width: 825px)
                        float: left
                        clear: both

                h2
                    float: left
                    font: bold 12px/12px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
                    margin: 8px 10px 0 10px
                    display: inline
                    color: #555

                .btn-group
                    float: left

                img
                    float: left
                    display: inline
                    opacity: 0.5

                    &.active
                        opacity: 1

            .show-content-toggle
                margin-right: 0

        .eze-table-content
            position: absolute
            top: 84px
            right: 0
            left: 0
            bottom: 0
            overflow-y: scroll
            background: #fff
            margin-right: 220px
            border: 1px solid #e4e3e3
            -webkit-overflow-scrolling: touch
            -webkit-transform: translateZ(0)
            @media screen and (max-width: 1070px)
                top: 111px
            @media screen and (max-width: 825px)
                top: 143px

            .no-content
                font-size: 20px
                text-align: center
                margin: 50px 0 0 0
                font-weight: 300

            .loading-wrap
                position: absolute
                top: 0
                left: 0
                right: 0
                bottom: 0
                background: rgba(255,255,255,0.8)
                text-align: center
                z-index: 100

                img
                    margin: 50px 0 0 0

            .loading-bar
                background: rgb(10,10,10)
                background: rgba(0,0,0,0.7)
                color: #fff
                text-align: center
                border-top-left-radius: 4px
                border-top-right-radius: 4px
                position: relative
                left: 50%
                right: 50%
                margin: 0 0 0 -100px
                width: 200px
                height: 20px
                padding: 6px 0

            .group-header
                margin: -1px 0 0 0
                @include gradient(#ffffff,#fafafa)
                padding: 9px 0 8px 10px
                color: #4c4c4c
                font: normal 11px/11px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
                border-bottom: 1px solid #e4e3e3
                border-top: 1px solid #e4e3e3
                position: relative
                z-index: 2

            ul
                list-style: none
                margin: 0 0 1px 0

                li

                    &.item
                        background: #fff
                        border-bottom: 1px solid #fff
                        padding: 0 0 0 0
                        margin: 0 1px
                        position: relative
                        display: block

                        &:nth-child(2n)
                            background: #fafafa

                        .check
                            display: inline-block
                            width: 110px
                            height: 90px
                            padding: 0
                            margin: 0
                            position: absolute
                            top: 0
                            left: 0
                            z-index: 1
                            -webkit-transform: translateZ(0)
                            background: transparent

                            input
                                margin: 5px 0 0 5px
                                -webkit-appearance: checkbox

                        .thumb
                            margin: 0 10px 0 0
                            width: 110px
                            height: 90px
                            float: left
                            border-right: 1px solid #fff
                            @include gradient(#ffecd5, #ffdab2)
                            overflow: hidden

                            img
                                float: left

                                &.class-icon
                                    margin: 21px 0 0 31px
                                    opacity: 0.8
                                    min-width: auto
                                    min-height: auto
                                    max-width: none
                                    max-height: none

                        h2
                            font: normal 18px/24px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
                            margin: 15px 0 3px 0
                            display: inline-block
                            width: 60%
                            overflow: hidden
                            cursor: pointer

                            a
                                border-bottom: 1px solid #e07a00
                                color: #e07a00
                                display: inline-block
                                overflow: hidden
                                white-space: nowrap
                                text-overflow: ellipsis
                        p
                            font: normal 12px/22px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
                            margin: 0

                            img
                                margin-top: -2px

                            .other-locations
                                border-bottom: 1px dashed #000
                                margin-right: 5px

                            a
                                text-decoration: underline

                        .actions
                            position: absolute
                            top: 30px
                            right: 10px

                    &.publishing
                        -moz-animation: table-publish 0.3s ease 1 normal
                        -webkit-animation: table-publish 0.3s ease 1 normal
                        background: #bee9bf

                    &.removing
                        -moz-animation: removing 0.3s ease 1 normal
                        -webkit-animation: removing 0.3s ease 1 normal
                        opacity: 0

        .eze-filters-wrap
            top: 84px
            right: 0
            position: absolute
            width: 200px
            margin-top: -37px

            .input-prepend input
                width: 100%

            .icon-search
                font-size: 16px
                line-height: 12px
                color: #666

            .eze-filters
                margin-top: 10px
                border: 1px solid #E4E3E3
                width: 178px
                padding: 10px
                background: #fff

                .description
                    font-size: 11px
                    margin: 0 0 0 2px

                select
                    width: 180px

                form
                    margin: 0 0 10px 0

                    .add-on
                        padding: 3px 4px 5px 4px

                        i
                            font-size: 16px
            
