@import mixins
.eze

	// Custom Exceed Interface elements, besides what ships with bootstrap

	.caret.left
		border: 4px solid transparent
		border-right-color: #000000

	.btn .caret.left
		border: 4px solid transparent
		border-right-color: #000000
		border-top: 4px solid transparent
		margin-left: -5px
		margin-top: 6px
		margin-right: 3px

	.eze-autosave
		position: relative
		font: normal 12px/28px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif
		height: 27px
		border-radius: 2px

		&.saving img
			margin: 0 5px 0 0
			

		p
			float: left
			margin: 0 10px 0


	// Custom generic list, with drag and drop
	// ----------------------------------------------

	.eze-items
		list-style-type: none
		margin: 0 0 10px 0
		-webkit-transform: translateZ(0)
		position: relative

		> li
			margin: 0 0 5px 0
			width: 100%
			border-radius: 4px
			background: #ccc

			&.notification
				background: rgba(250,250,250,0.9)
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				margin: 0
				text-align: center
				opacity: 1

				p
					height: 26px
					position: absolute
					background: #fafafa
					top: 50%
					left: 0
					right: 0
					margin-top: -13px
					font: normal 20px/20px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif

					img
						margin: -4px 7px 0 0

			&.locationGroup
				background: transparent

				.location-group-list
					margin: 0

					li
						margin: 0 0 5px 0

			.wrap, .right-align .btn, .reorder, .right-align
				height: 34px
				line-height: 34px

			.wrap
				background: #fff
				@include gradient(#ffffff,#f5f5f5)
				border: 1px solid #d0d0d0
				border-radius: 4px
				padding: 0
				position: relative
				overflow: visible

				.reorder
					display: block
					width: 40px
					float: left
					margin-right: -8px
					background: url(../images/scrubber.png) center center no-repeat
					cursor: move

				img
					margin: -1px 5px 0 10px

				input[type="checkbox"]
					margin: 2px 0 0 10px

				input[type="text"], input[type="email"], input[type="time"], input[type="date"], input[type="datetime"]
					width: 130px
					height: 22px
					padding: 0 3px 0 7px
					margin: -1px 5px 0 5px
					line-height: 22px

				input.activate-time, input.activate-date
					text-align: center
					width: 40px

				input.activate-date
					width: 90px

				.right-align
					position: absolute
					right: 0
					top: 0px
					bottom: 1px
					border-top-right-radius: 4px
					border-bottom-right-radius: 4px
					@include gradient(#ffffff,#f5f5f5)
					overflow: visible

					.dropdown-menu
						display: block
						bottom: -10px
						top: auto!important
						width: 200px
						left: -45px

					.status-icon
						margin: 11px 10px 0 5px

					.btn
						background: transparent
						border: 0
						padding: 0 15px
						margin: -1px 0 0 0
						border-radius: 0
						border-left: 1px solid #d0d0d0

						&:hover
							background: #fff

						&.radio-btn
							padding: 0 10px

							input
								margin: -1px 2px 0 0

					.btn:last-child
						border-top-right-radius: 4px
						border-bottom-right-radius: 4px
			
			select, .select2-container
				margin: 5px 5px 0 0
				display: block
				float: left

		&.with-dropdown li // For a list with a dropdown that expands outside the list item
			.right-align, .wrap
				overflow: visible

			.title
				width: 70%
				white-space: nowrap
				overflow: hidden
				display: inline-block
				text-overflow: ellipsis

	// List of content types (article, image, page, etc..)
	// -------------------------------------------------------

	.eze-content-types
		list-style: none
		margin: 0
		max-height: 100px
		overflow-y: auto
		overflow-x: hidden
		padding: 10px 0 0 10px
		box-shadow: inset 0 0 3px 0 rgba(0,0,0,0.2)
		border: 1px solid #ccc
		border-radius: 4px

		li
			cursor: pointer
			display: block
			float: left
			margin: 0 10px 10px 0
			width: 160px
			border: 1px solid #d9d9d9
			@include gradient(#f8f8f8,#eeeeee)
			height: 24px
			font: normal 12px/26px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif
			border-radius: 4px
			padding: 0 15px 0 5px
			overflow: hidden
			text-overflow: ellipsis
			white-space: nowrap

			img
				margin: -4px 4px 0 0
				vertical-align: middle

			&:hover
				background: #fff





	// List of comments, with avatars and actions
	// -----------------------------------------------

	input[type="text"].write-post
		width: 70%
		margin-bottom: 5px

	.eze-comments
		list-style: none
		margin: 0 0 10px 0
		max-height: 400px
		overflow-x: hidden
		overflow-y: auto
		padding: 0 10px
		border-radius: 4px
		box-shadow: inset 0px 0px 5px rgba(0,0,0,0.2)
		-webkit-overflow-scrolling: touch
		-webkit-transform: translateZ(0)

		li
			border-bottom: 1px solid #dcdcdc
			padding: 6px 15px
			margin: 0 -15px

			&:first-child
				border-top: 0

			&:nth-child(2n)
				background: rgba(200,200,200,0.1)

			.user-image
				height: 34px
				width: 34px
				border-radius: 34px
				float: left
				margin-left: -3px
			p
				margin: 0 0 0 40px
				font: normal 12px/18px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif

				.date
					font-size: 11px

				&.post-actions
					font-size: 11px
					margin: 5px 0 0 40px

					a
						color: #D67F00
						text-decoration: underline
						cursor: pointer

			.eze-replies // Comments on a post
				list-style: none
				margin: 0

				li
					padding: 0
					margin: 10px 0 0 10px
					border: 0
					background: none

					.post-actions
						margin: 0 0 0 40px

					&:last-child .post-actions
						margin-bottom: -10px

			.add-comment-button
				float: right

			.add-comment
				margin: 0
				padding: 0 10px 0 40px
				-moz-box-sizing: border-box
				box-sizing: border-box
				width: 100%
				position: relative

				.btn
					position: absolute
					top: 0
					right: 0
					z-index: 2

				input
					margin: 0 0 0 0
					font: normal 11px/12px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
					height: 12px
					width: 99%

	// Alert with blackout
	// -----------------------------------------------

	.eze-blackout
		background: rgba(0,0,0,0.5)
		z-index: 90000000!important
		position: fixed
		top: 0
		left: 0
		right: 0
		bottom: 0
		overflow: hidden

	.alert-wrapper
		width: 190px
		padding: 20px 40px
		border: 1px solid #000
		@include gradient(#424242, #000000)
		border-radius: 4px
		margin: 100px auto 0 auto
		color: #fff
		box-shadow: 0 0 10px 0 rgba(0,0,0,0.4)
		text-align: center

		.alert-message
			text-align: center
			margin: 0 0 15px 0

		form
			margin: 0

		input
			width: 100%
			border: 1px solid #000
			margin: 0 0 10px 0

		button
			margin: 5px auto 0 auto
			display: block


	// Notification
	// -----------------------------------------------

	.eze-notification
		z-index: 5000000 !important
		width: 250px
		border: 1px solid #000
		@include gradient(#454545, #262626)
		border-radius: 4px
		margin: 0 auto 0 auto
		color: #fff
		box-shadow: 0 0 10px 0 rgba(0,0,0,0.4), inset 0 1px 0 0 rgba(255,255,255,0.3)
		position: fixed
		top: 10px
		right: 10px
		cursor: pointer

		.eze-iconwrap
			position: absolute
			height: 100%
			width: 32px
			border-right: 1px solid rgba(255,255,255,0.2)
			border-top-left-radius: 4px
			border-bottom-left-radius: 4px
			box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.3)
			@include gradient(#373737, #1e1e1e)
			text-align: center

			img
				position: absolute
				top: 50%
				left: 0
				margin: -5px 0 0 9px

		.message-wrap
			margin: 0 0 0 33px
			padding: 10px 0 10px 10px
			border-left: 1px solid #000

		h1
			font: normal 900 12px/16px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif
			margin: 0 10px 3px 0

		p
			font: normal 11px/16px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif
			margin: 0 10px 0 0


	// eZ Flow Timeline
	// -----------------------------------------------

	.eze-fadeout
		z-index: 4000000
		position: fixed
		top: 0
		bottom: 0
		left: 0
		right: 0
		overflow: hidden
		background: rgba(0,0,0,0.3)
		-webkit-animation: fade-in 0.5s
		-moz-animation: fade-in 0.5s

	.eze-page-loader
		width: 160px
		position: fixed
		height: 170px
		top: 20%
		left: 50%
		margin: 0 0 0 -80px
		z-index: 5000000
		@include gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7))
		border-radius: 4px
		border: 1px solid #000
		box-shadow: inset 0 0 1px 0 #fff, 0 0 10px #000
		color: #ccc
		text-align: center
		-webkit-animation: fade-in 0.5s
		-moz-animation: fade-in 0.5s

		img
			margin: 30px 0 20px 0

		h2
			font: normal 14px/14px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif
			text-align: center


	#ezflow-timeline
		height: 80px
		position: fixed
		bottom: 0
		left: 0
		right: 0
		z-index: 5000000

		.wrapper
			height: 53px
			width: 100%
			@include gradient(#0a0a0a, #2d2d2d)
			border-top: 1px solid rgba(255,255,255,0.2)
			position: absolute
			bottom: 0
			z-index: 1

		.datepicker
			color: #fff
			background: transparent
			width: 120px
			border: 1px solid #414141
			float: left
			margin: 40px 20px 0 74px
			text-align: center
			position: relative
			z-index: 2
			box-shadow: inset 0 0 0 1px #000

		ul
			margin: 0
			left: 276px
			height: 80px
			width: 840px
			list-style-type: none
			overflow: hidden
			position: absolute
			-webkit-touch-callout: none
			-webkit-user-select: none
			-khtml-user-select: none
			-moz-user-select: none
			-ms-user-select: none
			user-select: none
			

		li
			float: left
			width: 35px
			height: 49px
			text-align: center
			font-size: 11px
			color: #ccc
			padding: 4px 0 0 0
			margin: 27px 0 0 0
			z-index: 4
			position: relative
			cursor: pointer
			@include transition(color,0.2s)

			&.even
				padding: 30px 0 0 0
				height: 23px

			&:hover
				color: orange

		.gfx
			height: 53px
			position: absolute
			bottom: 0
			right: 0
			left: 211px
			background: url(/extension/ezexceed/design/ezexceed/images/sprite.png) -49px -84px no-repeat
			display: block
			z-index: 2

		.dragwrap
			position: absolute
			z-index: 3
			left: 584px
			cursor: ew-resize

		.drag, .ghost
			background: url(/extension/ezexceed/design/ezexceed/images/sprite.png) 0 -84px no-repeat
			height: 80px
			width: 49px
			border-top-left-radius: 4px
			border-top-right-radius: 4px

		.ghost
			background: transparent
			z-index: 5



	// Find modal
	// -----------------------------------------------

	.eze-modal-action
		.btn, input
			margin: 17px 0 0 0

		input.empty
			border: 1px dashed #999
			background: transparent
			box-shadow: 0
