// Browse view

.eze
	.btn.load-more
		padding: 10px

.keymedia-thumbs
	clear: both
	-webkit-transform: translate3d(0,0,0)

	.item
		float: left
		cursor: pointer

		.pick
			text-align: center
			width: 170px
			height: 190px
			display: table-cell
			padding: 10px 10px 0 10px
			position: relative

			img
				border: 1px solid #fff
				box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.4)
				opacity: 0.9
				@include transition(opacity,0.2s)
	        
			.meta
				text-overflow: ellipsis
				max-width: 170px
				white-space: nowrap
				overflow: hidden
				margin-top: 5px
	            
				.details
					font-size: 11px
	        
			&:hover img
				opacity: 1

			.share
				background: #44B6EB
				font-size: 11px
				margin: 0 0 0 5px
				border-radius: 4px
				padding: 2px 4px
				color: #fff



// Crop view

.keymedia-crop

	.nav-pills.inverted

		li
			margin-right: 10px
			cursor: pointer

			a
				font: bold 12px/12px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
				padding: 5px 15px 3px 5px
				border-style: dotted

				img
					margin: -5px 0 0 0

			small
				font: normal 10px/10px "HelveticaNeue", Helvetica, Arial, sans-serif

			&.cropped a, &.cropped a:hover
				background: #fff
				color: #000
				border-color: #fff

			&.cropped .black, &.uncropped .black, &.active a .white
				display: none

			&.active a .black
				display: inline


.keymedia-crop-container

	.image-wrap
		position: relative

		p
			font-size: 14px
			background: rgba(0,0,0,0.8)
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			text-align: center
			padding: 25% 0 0 0
			margin: 0


		img
			max-height: none
			max-width: none
			border: 1px solid #fff

	
