.eze .eze-layout

	.active-layout
		border: 3px solid orange

	h1
		font: normal 22px/22px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif

	h2
		margin: 20px 0 10px 0
		font: bold 14px/14px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif

	.nav
		margin: 0 0 5px 0

	.add-new
		margin: 0

		select, .select2-container
			margin: 0 10px 0 0
			min-width: 160px

	.tab-content
		overflow: visible
		padding: 5px 0 0 0

	.eze-items
		.wrap .title
			width: 40%

.eze
	.block-settings
		input[type="number"]
			width: 30px
			margin: 0
			text-align: right

		select
			width: 80px