@import mixins
.eze
	.eze-bigmodal
		position: fixed
		top: 0
		bottom: 0
		right: 0
		left: 64px
		background: rgba(0,0,0,0.2)
		z-index: 5000000
		overflow: hidden

		.eze-modal-content
			background: #fafafa
			min-width: 650px
			margin-right: 44px
			max-width: 1100px
			box-shadow: 6px 0 0 0 rgba(0,0,0,0.15)
			min-height: 100%

	.eze-stack-content
		h1
			font: 100 28px/20px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
			letter-spacing: 1px

		h2
			font: bold 14px/14px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif

	.semi-direct
		width: 670px
		position: fixed

		form
			margin: 0

		.heading, .label-required
			display: none

		.modal-body
			max-height: 500px

	.eze-modal-backdrop
		background: rgba(0,0,0,0.2)
		position: fixed
		top: 0
		left: 0
		right: 0
		bottom: 0
		display: block
		width: auto
		box-shadow: none
		max-height: 0
		border-radius: 0

	.eze-modal
		border-radius: 4px
		min-width: 400px
		max-width: 900px
		height: 500px
		margin: 80px auto 0 auto
		background: #1d1d1d
		border: 1px solid #000
		box-shadow: 0 0 7px 0 #000, inset 0 0 -1px 0 #535353
		position: relative

		.gfx
			position: absolute
			top: 1px
			left: 1px
			right: 1px
			height: 36px
			@include gradient(#343434, #1d1d1d)
			border-top-left-radius: 4px
			border-top-right-radius: 4px
			z-index: 1

		.eze-modal-nav
			position: absolute
			top: 6px
			left: 6px
			z-index: 2

			ul
				margin: 0
				list-style: none

				li
					float: left
					border-top-left-radius: 4px
					border-top-right-radius: 4px
					background: transparent
					color: #fff
					height: 28px
					margin: 0 5px 0 0
					padding: 6px 15px 0
					border: 1px solid #000
					box-shadow: inset 0 0 1px #828282
					letter-spacing: 0.01em
					cursor: pointer

					&:hover
						background: rgba(255,255,255,0.1)

					&.active
						border: 1px solid #fff
						background: #fff
						color: #000
						box-shadow: none

					&.search
						padding: 0
						height: 36px

						input
							background: rgba(255,255,255,0.1)
							border-bottom-right-radius: 0
							border-bottom-left-radius: 0
							border: 0
							font-size: 11px
							padding: 0 10px
							height: 34px
							color: #fff
							width: 150px


		.eze-modal-content
			border-radius: 4px
			background: #fff
			position: absolute
			top: 38px
			bottom: 56px
			left: 6px
			right: 6px
			z-index: 3
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2)

		.eze-modal-action
			position: absolute
			bottom: 6px
			left: 6px
			right: 6px
			height: 55px
			padding: 0 10px
			background: #f2f2f2
			z-index: 1
			border-radius: 4px







		




