
.eze


	//	Attributes


	.eze-object-translations
		background: #fff
		float: left
		width: 100%

		ul
			float: left
			list-style: none
			margin: 20px 10px 5px 20px

			li
				float: left
				font: normal 12px/12px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
				margin: 0 10px 5px 0

				input
					margin: -1px 5px 0 0
					display: inline

				h1
					font: normal 16px/16px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
					margin: 0

	.attr-group
		@include gradient(#fafafa,#dddddd)
		border-top: 1px solid #ccc
		border-bottom: 1px solid #bbb
		padding: 10px 15px 8px 15px
		font: normal 12px/12px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
		clear: both
		cursor: pointer

		&.open
			@include gradient(#dddddd,#fafafa)
			border-bottom: 0

	.collapse
		.eze-object-attribute
			display: none

		&.in
			.eze-object-attribute
				display: block


	.eze-object-attributes
		position: absolute
		top: 0
		bottom: 0
		left: 0
		width: 60%
		overflow-y: scroll
		-webkit-overflow-scrolling: touch
		-webkit-transform: translateZ(0)
		z-index: 1
		box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.1)
		border-right: 1px solid #ccc

		.eze-object-attribute-wrap  // Two and two attributes forms a grid
			float: left
			width: 100%
			border-top: 1px solid #eee

		.eze-object-attribute // One attribute
			width: 50%
			float: left
			-moz-box-sizing: border-box
			box-sizing: border-box
			padding: 15px
			border-right: 1px solid #eee

			.label-required
				float: right
				margin: -15px
				border-radius: 0
				background: #eee

			&.full-width
				width: 100%

			&.last
				border-left: 1px solid #eee
				border-right: 0

			// Default attribute elements ——————————————————————————

			.heading
				font: normal 14px/14px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
				color: #444
				margin-bottom: 10px

			.description
				font: normal 11px/16px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
				margin: -5px 0 10px 0

			.alert
				font: normal 12px/18px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
				margin: 0 0 15px 0

			.language
				font: normal 11px/11px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
				margin: 0 0 10px 0

				img
					margin: -3px 3px 0 0

		
		// All attributes ——————————————————————————
		
		.ezstring, .eze-date
			input
				box-sizing: border-box
				height: auto
				width: 100%

		.ezselection
			select
				width: 100%

		.eze-date
			.input-append
				margin-right: 26px

			.icon-calendar
				font-size: 16px
				vertical-align: 0

		.ezauthor
			.eze-items li .wrap
				input[type="text"], input[type="email"]
					width: 33%
					line-height: 25px
				img
					margin-left: 10px

		.ezgmaplocation
			.find-address
				margin-left: 10px
				border-radius: 4px

			.find-address-loader
				margin: -4px 0 0 6px
				
			.get-my-current-position
				margin-bottom: 15px

			.map
				border: 1px solid #888
				background: #fff
				width: 100%
				clear: both

		.ezimage, .keymedia

			.btn
				margin: 0 5px 5px 0

			.scale img
				margin: -3px 0 0 -5px

			.plupload
				overflow: hidden

			.eze-no-image
				clear: both

			.thumbnail
				position: relative
				margin: 0 0 10px 0
				background: #fff
				float: left

				img.info
					border-radius: 2px
					min-height: 80px
					min-width: 120px

					&.icon-32
						min-height: 0
						min-width: 0
				
				.edit-image
					position: absolute
					bottom: 10px
					left: 10px

				.close
					position: absolute
					top: 0
					right: 0
					padding: 4px 10px 8px 10px
					color: #fff
					opacity: 1

				&:hover .close
					@include transition(background,0.2s)
					background: #fff
					border-bottom-left-radius: 4px
					color: #000

			.keymedia-tags
				clear: both

			.add-tag
				position: relative
				clear: both

				.btn
					position: absolute
					display: block
					top: 0
					right: 0
					margin: 0
					z-index: 2

				input
					box-sizing: border-box
					height: auto
					width: 100%

			.tags
				.label
					padding: 2px 6px
					font-size: 11px
					display: block
					float: left
					margin: 0 5px 5px 0
					background: #666

				.close
					font-weight: 100
					font-size: 14px
					float: none
					opacity: 1
					filter: alpha(opacity=100)
					font-size: 16px
					margin: -6px 0 0 2px
					color: #fff

		.ezimage input
			float: left

		.ezmatrix

			table
				margin: 0 0 10px 0

			th
				font: bold 11px/16px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif

				input[type="checkbox"]
					margin: 5px 5px 2px 5px

			td
				padding: 0

				input[type="checkbox"]
					margin: 7px 10px 5px 10px

			input[type="text"]
				-moz-box-sizing: border-box
				box-sizing: border-box
				margin: 0
				border: 0
				height: 25px
				padding: 0 5px 0 5px
				width: 100%

			p
				float: right
				margin: 0

				.btn
					float: right
					margin-left: 5px

				select
					width: 50px
					margin: 2px 0 0 0
					float: left







	//	Sidebar

	.eze-object-sidebar
		background: #eee
		position: absolute
		top: 0
		bottom: 0
		right: 0
		width: 40%
		overflow-y: scroll
		-webkit-overflow-scrolling: touch
		padding: 10px
		-moz-box-sizing: border-box
		box-sizing: border-box

		.eze-container // For each sections inside the sidebar
			border-top: 1px solid #fff
			border-bottom: 1px solid #ccc
			padding: 20px
			margin: 0 -10px
			position: relative

			&:first-child
				border-top: 0
				padding-top: 0

			&:last-child
				border-bottom: 0

			h1
				font: normal 15px/15px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
				margin-bottom: 5px

				i
					margin: 2px 5px 0 0
			h2
				font: bold 12px/18px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
				margin-bottom: 0

			p
				font: normal 11px/16px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif

				&.revert
					margin: 10px 0 0 0

					a
						color: #333
						text-decoration: underline

			.options-menu
				position: absolute
				top: 25px
				right: 20px

				&.active
					left: 20px

			&.subtree .create-new
				margin: 0 0 10px 0

			&.subtree .form-search
				margin: 0 1px 10px 0

		.eze-comments
			background: #fafafa
			border: 1px solid #ccc

			li:last-child
				border-bottom: 0

				

				




