// The on-page-edit pencil

.eze .kp-edit-block
	position: relative!important

.eze .kp-edit-block-box, .attribute-direct-edit
	border-radius: 4px!important
	width: 28px!important
	height: 28px!important
	cursor: pointer!important
	position: absolute!important
	z-index: 100!important
	opacity: 0.8!important

	&:hover
		opacity: 1!important

.eze .kp-edit-block-box, .eze .options-menu
	border: 1px solid #000 !important
	@include gradient(#5c5c5c,#020202)
	box-shadow: 0 0 3px 1px rgba(0,0,0,0.5), inset 0 1px 0 rgba(255,255,255,0.2)!important
	@include transition(opacity,0.2s)
	
	&.active
		width: auto!important
		height: auto!important
		opacity: 1!important
		z-index: 101!important
		background: #000
		
		ul
			width: auto!important
			height: auto!important
			-webkit-transform: translateZ(0)

			li
				display: block!important
				opacity: 1!important
				filter: alpha(opacity = 100)!important

				&.separator
					background: #414141!important
					border-top: 1px solid #000
					border-bottom: 1px solid #000
					padding: 0 0 0 10px !important
					color: #fff!important
					font-size: 11px!important
					height: 4px

	ul
		height: 28px!important
		width: 28px!important
		display: block!important
		overflow: visible!important
		border-radius: 4px!important
		margin: 0!important
		cursor: pointer!important
		background: url('../images/legacy-sprite.png') -570px -40px no-repeat!important

		li
			display: none!important
			opacity: 0!important
			filter: alpha(opacity = 0)!important
			@include transition(all, 0.3s)
		
			&:first-child a.item
				border-top-left-radius: 4px!important
				border-top-right-radius: 4px!important
				box-shadow: none!important
				border: 0!important
			
			&:last-child
				border-bottom-left-radius: 4px!important
				border-bottom-right-radius: 4px!important
			
			a.item
				font: normal 12px/38px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif!important
				background: #2b2b2b
				border-top: 1px solid #000!important
				box-shadow: inset 0 1px 0 0 #414141!important
				color: #fff!important
				text-decoration: none!important
				display: block!important
				padding: 0 40px 0 0!important
				height: 35px!important
				overflow: hidden
				text-overflow: ellipsis
				white-space: nowrap

				strong
					margin-right: 2px!important
					display: inline-block

				img
					margin: -1px 8px 0 8px!important

				&:hover
					@include gradient(#555,#2d2d2d)
					cursor: pointer!important
					box-shadow: inset 0 1px 0 0 #676767!important
					color: white!important

.eze .options-menu
	width: 30px
	position: relative
	box-shadow: none!important
	border: 0!important
	background: transparent
	opacity: 0.7

	> ul
		background: url("../images/kp/16x16/Settings.png") center center no-repeat!important

	.eze-checkbox
		display: block
		float: left
		height: 12px
		width: 12px
		background: #000
		margin: 11px 6px 0 9px
		border: 2px solid #fff
		border-radius: 16px

		span
			display: none
			height: 6px
			width: 6px
			background: #fff
			margin: 3px auto
			border-radius: 6px


	&.active
		position: relative
		border-radius: 4px
		box-shadow: 0 0 3px 1px rgba(0,0,0,0.5), inset 0 1px 0 rgba(255,255,255,0.2)!important
		border: 1px solid #000 !important
		opacity: 1

		ul

			.sort-options
				padding: 5px
				background: #2b2b2b

			.select2-container
				margin: 0

			.select2-choice
				border: 1px solid #000

			li.active .eze-checkbox span
				display: block

			.order button
				border-color: #000

.attribute-direct-edit
	border: 1px solid rgb(85,85,85)!important
	border: 1px solid rgba(255,255,255,1)!important
	@include gradient(#ffffff,#ededed)
	@include box-shadow-both(0,0,5px,#000,0,1px,0,rgba(255,255,255,0.2),inset)
	@include transition(opacity,0.2s)
	opacity: 0.9!important
	top: 2px
	left: 2px

	img
		margin: 6px 0 0 6px!important
		height: 16px!important
		width: 16px!important

	span
		height: 16px!important
		width: 16px!important
		display: block!important
		border-radius: 4px!important
		background: url('../images/legacy-sprite.png') -562px -25px no-repeat!important
		margin: 7px 0 0 5px!important
		cursor: pointer!important
