@import mixins


.eze .finder
	background: #fff
	margin: -15px -15px 0 -15px
		
	.breadcrumbs
		margin: 0
		border-bottom: 1px solid #e0e0e0
		@include gradient(#e1e1e1,#f7f7f7)
		height: 18px
		padding: 4px 5px
		
		p
			margin: 0
			font: normal 11px/20px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif

		.btn-group
			float: left
			margin: -2px 10px 0 0

			.active a
				background: #eee
				color: #000

	.error
		background: #ec0d0d
		text-align: center
		color: #fff
		padding: 5px 0
	
	.kp-columns-wrapper
		float: left
		overflow-x: auto
		overflow-y: hidden

		.column
			float: left
			border-right: 1px solid #d3d3d3
			overflow-x: hidden
			overflow-y: scroll
			-webkit-overflow-scrolling: touch

			.input-append
				position: relative
				max-width: 200px
				min-width: 200px

				.add-on
					position: absolute
					top: 0
					right: -11px
					background: transparent
					border: 0
					z-index: 2

					.icon-search
						color: #555
						font-size: 16px
						line-height: 12px

			.search
				width: 100%
				border: 0
				border-radius: 0
				color: #000
				border-bottom: 1px solid #ccc

		li.notice
			max-width: 200px
			min-width: 200px
			text-align: center
			padding: 30px 0

			img
				margin: -1px 0 0 -15px

		li.node
			background-image: none
			display: block
			cursor: pointer
			//@include textselection
			
			a 
				color: #000
				display: block
				height: 24px
				min-width: 200px
				max-width: 200px
				font: normal 12px/12px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif
				padding: 0 10px 0 0
				@include transition(all, 0.1s)
				text-overflow: ellipsis
				white-space: nowrap
				overflow: hidden
				border-top: 1px solid transparent
				border-bottom: 1px solid #ebebeb
				position: relative
				margin-top: -1px
				-webkit-transform: translate3d(0,0,0)

				&:hover
					background: #fafafa
					border-color: #ccc

				.has-children-arrow
					background-color: #fafafa

				span 
					margin-left: 27px
					line-height: 24px
					
				img 
					position: absolute
					left: 6px
					top: 50%
					bottom: 50%
					margin-top: -8px
					height: 16px
					width: 16px

				.has-children-arrow
					display: block
					height: 16px
					width: 16px
					position: absolute
					right: 2px
					top: 50%
					bottom: 50%
					margin-top: -8px
					@include transition(all, 0.1s)
					opacity: 0.7
					background: transparent url("../images/legacy-sprite.png") -136px -22px no-repeat

					@media only screen and (-webkit-min-device-pixel-ratio: 1.5)
						background: transparent url("../images/legacy-sprite.png") -65px -55px no-repeat
						-webkit-background-size: 300px 80px
						background-size: 300px 80px

			&.active a, &.active a:hover, &.dragover a
				background: #ffa500
				border-color: #ffa500
				
				.has-children-arrow
					opacity: 1

			&.hidden-object
				opacity: 0.5
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50)

				*
					filter: alpha(opacity=50)
			
			&.dragged
				z-index: 999

			&.empty-node .has-children-arrow, &.empty-node.active .has-children-arrow
				opacity: 0.2
				filter: alpha(opacity=50)
			
			&.clipboard a
				color: rgba(0,0,0,0.3)

				img
					opacity: 0.3
				
			&.ui-draggable-dragging a
				background: #ffc27f
				opacity: 0.8
				border-color: #ffc27f
				//@include box-shadow(2px,2px,2px,0,rgba(0,0,0,0.5))
				
				.has-children-arrow
					background-color: #ffc27f
					opacity: 0.8

		.dnd .nodes .no-drop
			opacity: 0.5
			filter: alpha(opacity=50)

	.upload
		margin: 5px 0

		button
			display: block
			margin: 0 auto
			border: 1px solid #d9d9d9
			font-size: 11px
			background: #efefef
			padding: 3px 10px 3px 7px
			border-radius: 4px
			@include transition(background, 0.2s)

			&:hover
				background: #fff

			&.uploading:hover
				@include gradient(#efefef, #fafafa)
				cursor: auto

		img
			margin: -2px 3px 0 0 !important

	.kp-finder-content 
		clear: both
		float: left
		border-bottom-left-radius: 4px
		border-bottom-right-radius: 4px

		ul
			margin: 0
			list-style: none
			border-top: 1px solid #eee
		
		
	
			
	
	
	// Action column for selected item
	//----------------------------------------------------------------------
	
	.actions
		width: 242px
		border-right: 1px solid #e0e0e0
		border-left: 1px solid #e0e0e0
		float: left
		padding: 0 10px
		margin-left: -2px
		
		.heading
			text-align: center
			margin-top: 20px
	
			h2
				font: normal 14px/22px 'Helvetica Neue Light', 'HelveticaNeue-Light', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif
				text-align: center
			h3
				font: normal 11px/11px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif
				text-align: center
				margin: 5px 0

			img
				height: 48px
				width: 48px

			.thumb
				height: 168px
				width: 168px
				border: 1px solid #fff
				border-radius: 4px
				margin: 0 auto
				box-shadow: 0 0 5px 0 rgba(0,0,0,0.4)
			

		.meta
			font-weight: bold
			text-align: left
			
			ul
				margin: 10px 2px 20px
			
				li
					margin: 0 0 10px 0
					font: bold 12px/12px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif

					.status-icon
						margin: 0 3px 0 0
			
			span
				font: normal 11px/18px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif
				display: block
				width: 100%
				
		.action-buttons
			border: none
			
			& > li
				float: left
				margin: 0 5px 10px 0

				.btn.dropdown-toggle
					height: 20px

		.btn-group.open .dropdown-menu
			width: 220px
			left: auto
			right: 0

	
	// iPad specifics
	//----------------------------------------------------------------------

	.kp-finder-content ul li
		
		a
			@media screen and (max-width: 1024px)
				height: 32px
			
			span
				@media screen and (max-width: 1024px)
					line-height: 34px
