
.eze


	//	Stack

	.stack-item
		position: absolute
		left: 0
		bottom: 0
		min-width: 650px
		right: 44px
		max-width: 1100px

		// Stack header

		header
			background: #FFAC42
			height: 30px
			border-bottom: 1px solid #ffd6a1
			position: fixed
			z-index: 100
			right: 44px
			left: 64px
			min-width: 650px
			max-width: 1100px

			h1
				display: inline-block
				font: normal 12px/32px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif
				margin: 0
				width: 50%
				text-overflow: ellipsis
				overflow: hidden
				white-space: nowrap

				.iconwrap
					float: left
					width: 16px
					margin: 9px 5px 0 10px
					line-height: 10px

					.icon-16
						margin: 0

					.icon-32
						margin-top: 8px
						display: none

			button
				display: none

			.close-stack, .go-back
				float: right
				padding: 0 15px
				border: 0
				height: 30px
				color: #4e2900
				font-size: 12px
				white-space: nowrap

				img
					margin: -2px 4px 0 0
					height: 9px
					width: 9px

				span
					white-space: nowrap

		&.first .go-back
			background: none
			filter: none
			border-left: 1px solid rgba(255, 255, 255, 0)
			@include transition(background,0.2s)

			&:hover
				background: #FF8D00
				border-left: 1px solid rgba(255, 255, 255, 0.4)

		&.last .go-back
			@include gradient(#ff9100, #ff5b00)
			height: 44px
			color: #4c3312
			font-size: 16px
			font-weight: bold
			padding: 0 20px
			border-left: 1px solid rgba(255,255,255,0.5)
			box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.4)
			text-shadow: 0 1px 0 rgba(255,255,255,0.4)

			img
				margin: -3px 3px 0 0
				height: 14px
				width: 12px
				@include transition(margin, 0.2s)

			&:hover
				@include gradient(#ff9100, #ff5b00)
				border-left: 1px solid rgba(255,255,255,0.5)

				img
					margin: -10px 3px 0 0

		&.last .close-stack
			font-size: 12px

			img
				height: 9px
				width: 9px
				margin: -3px 5px 0 0

			&:hover img
				margin: -3px 5px 0 0

		&:nth-last-child(2) header
			background: #ff9c00
			border-bottom: 1px solid #ffce80

		&:nth-last-child(3) header
			background: #ffac42

		&.first header button, &.last header button
			display: block

		&.last header
			height: 44px
			right: 44px
			max-width: 1100px
			@include gradient(#ff9100, #ff7b00)
			border-bottom: 0
			box-shadow: 0 2px 2px 0 rgba(198, 93, 0, 0.6), inset 0 -1px 0 0 rgba(255,255,255,0.4)

			h1
				font: normal 16px/44px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif

				span
					overflow: hidden
					white-space: nowrap
					text-overflow: ellipsis
					display: block

				.iconwrap
					width: 32px
					margin: -1px 5px 0 10px

					.icon-16
						display: none
					.icon-32
						display: block

		&.move-in header
			-moz-animation: stack-header-move-in 0.5s ease 1 normal
			-webkit-animation: stack-header-move-in 0.5s ease 1 normal

		&.move-out header
			-moz-animation: stack-header-move-out 0.2s ease 1 normal
			-webkit-animation: stack-header-move-out 0.2s ease 1 normal

		.eze-autosave
			float: right
			height: 44px

			p
				margin: 0 20px
				color: #4e2900
				text-shadow: 0 1px 0 rgba(255,255,255,0.4)
				font: bold 14px/45px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif 

		// Stack content

		.eze-stack-content
			display: none
			padding: 15px
			position: absolute
			top: 44px
			right: 0
			left: 0
			bottom: 0
			overflow: auto
			-webkit-overflow-scrolling: touch
			-moz-box-sizing: border-box
			box-sizing: border-box
			-moz-animation: stack-content-move-in 0.5s ease 1 normal
			-webkit-animation: stack-content-move-in 0.5s ease 1 normal
			display: none

			&.dark
				background: #222
				color: #fff

			> .eze-loader
				margin: 60px auto 0 auto
				display: block

		&.last .eze-stack-content
			display: block

		&.move-out .eze-stack-content
			-moz-animation: stack-content-move-out 0.5s ease 1 normal
			-webkit-animation: stack-content-move-out 0.5s ease 1 normal