@import mixins


// TinyMCE
#ezieMainContainer, .ui-widget
	z-index: 80000000!important

#mceModalBlocker // TinyMCE backdrop
	z-index: 29999900!important

.clearlooks2 // TinyMCE window
	z-index: 30000100!important

#mce_fullscreen_container
	z-index: 20000000!important

body div.mceListBoxMenu
	z-index: 70000000!important
	display: block

// Select2 and Timepicker

.select2-drop
	font-size: 12px

	.select2-results
		margin: 0

.select2-results .select2-highlighted, li.ui-timepicker-selected, .ui-timepicker-list li:hover, .ui-timepicker-list:hover .ui-timepicker-selected:hover
	background: #ff9f00!important

.select2-container-active .select2-choice
	border: 1px solid orange!important


.eze

	// Form element appearances
	input
		&[type="checkbox"]
			-webkit-appearance: checkbox
			-moz-appearance: checkbox
			appearance: checkbox
		&[type="radio"]
			-webkit-appearance: radio
			-moz-appearance: radio
			appearance: radio

		&[type="text"],
		&[type="password"], 
		&[type="datetime"],
		&[type="datetime-local"],
		&[type="date"],
		&[type="month"],
		&[type="time"],
		&[type="week"],
		&[type="number"],
		&[type="email"],
		&[type="url"],
		&[type="search"],
		&[type="tel"],
		&[type="color"],
		&.uneditable-input
			-webkit-appearance: none
			-moz-appearance: none
			appearance: none


	.oe-window // TinyMCE
		border: 1px solid #ccc

		textarea.box
			width: 100%
			padding: 0
			border: 0
			font-family: monospace


	// Visual changes to default Bootstrap

	.tab-content .tab-pane
		-moz-animation: fade-in 0.5s ease 1 normal
		-webkit-animation: fade-in 0.5s ease 1 normal

	.popover.right .arrow
		border-right-color: #fafafa

	hr
		margin: 15px 0

	.option-controller
		label
			margin: 0 5px 0 0
		input
			margin: 0 5px 0 0
			display: inline

	img
		max-width: none

	p
		font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif


	.nav-pills.inverted
		li
			a
				background: transparent
				border: 1px solid #ccc
				color: #ccc

				&:hover
					border-color: #fff
					color: #fff

			&.active a
				color: #000
				@include gradient(#ffbb00, #FF8D00)
				border-color: transparent


	.popover
		z-index: 6000000

	.btn .caret
		margin-left: 5px
		border-top: 4px solid #666

	.dropdown-menu
		p
			padding: 10px

			.danger
				color: red

	.btn-mini
		font-size: 11px

	.btn
		padding: 3px 10px 2px 10px
		border: 1px solid #bbb

	.input-append .btn
		border-radius: 0 3px 3px 0

	.remove-btn
		padding: 3px 8px

	.btn-primary
		@include gradient(#ffac00,#ff9c00)
		border: 1px solid #d67f00
		color: #332100
		text-shadow: 0 1px 0 rgba(255,255,255,0.5)

		&:hover
			background: #ff9c00
			color: #332100
			text-shadow: 0 1px 0 rgba(255,255,255,0.5)

		&.disabled, &[disabled]
			background: #ff9c00
			color: #332100

	.btn-inverse
		border: 1px solid #000

	.label, .badge
		text-shadow: none

	.label
		font-weight: normal
		&.label-required
			color: #777
			background: #ccc

	textarea:focus,
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="datetime"]:focus,
	input[type="datetime-local"]:focus,
	input[type="date"]:focus,
	input[type="month"]:focus,
	input[type="time"]:focus,
	input[type="week"]:focus,
	input[type="number"]:focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	input[type="search"]:focus,
	input[type="tel"]:focus,
	input[type="color"]:focus,
	.uneditable-input:focus
		border-color: rgba(236, 173, 82, 0.8)
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(236,173,82,.6)
		-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(236,173,82,.6)
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(236,173,82,.6)

	// Size adjustments etc.
	small
		font-size: 90%
	a
		color: #000

		&:hover
			text-decoration: none

	select, .select2-container
		margin-bottom: 10px
		height: 25px
		font-size: 12px
		zoom: normal

	.select2-container, select, input[type="file"]
		height: 25px
		line-height: 26px

	input[type="text"],
	input[type="password"], 
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"],
	.uneditable-input
		line-height: 16px
		height: 16px
		padding: 6px 4px 3px 5px

	.input-prepend .add-on, .input-append .add-on
		height: 17px


	// Custom interface elements

	.status-icon // Status icons
		height: 9px
		width: 9px
		display: block
		float: left
		border-radius: 11px
		border: 1px solid #fff

		&.changed
			background: #FFF000
			border-color: #D8C600

		&.new
			background: #FF4632
			border-color: #D83A29

		&.published
			background: #A3E10B
			border-color: #91C90A

	// Icon classes for retina support (switches img url via a sniffer)
	.icon-16
		height: 16px
		width: 16px
		max-width: 16px

	.icon-32
		height: 32px
		width: 32px
		max-width: 32px

	.icon-48
		height: 48px
		width: 48px
		max-width: 48px

	.icon-64
		height: 64px
		width: 64px
		max-width: 64px
