.eze, .eze *
	background: none
	border: none
	bottom: auto
	clear: none
	float: none
	font-style: normal
	font-weight: normal
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important
	filter: none
	height: auto
	left: auto
	letter-spacing: normal
	margin: 0
	max-height: none
	max-width: none
	min-height: 0
	min-width: 0
	overflow: visible
	position: static
	right: auto
	text-align: left
	text-decoration: none
	text-indent: 0
	text-transform: none
	text-shadow: none
	top: auto
	visibility: visible
	white-space: normal
	width: auto
	z-index: auto

.eze *:before
	display: none

@import _find
@import _mediabase
@import _toolbar
@import _modals
@import _stack
@import _sitemap
@import _pencils
@import _interface-elements
@import _animations
@import _keymedia-views
@import _object-edit
@import _layout
@import _visual-style

body
	margin-left: 63px
	overflow-x: hidden

.eze
	text-rendering: optimizeLegibility
	-webkit-text-size-adjust: none
	font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif!important
	color: #333!important
	-webkit-text-size-adjust: 100%
	-ms-text-size-adjust: 100%

	a
		cursor: pointer

	.hide
		display: none!important

.eze-ontop
	z-index: 80000000!important
