.eze, .eze * {
  background: none;
  border: none;
  bottom: auto;
  clear: none;
  float: none;
  font-style: normal;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  filter: none;
  height: auto;
  left: auto;
  letter-spacing: normal;
  margin: 0;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  overflow: visible;
  position: static;
  right: auto;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-transform: none;
  text-shadow: none;
  top: auto;
  visibility: visible;
  white-space: normal;
  width: auto;
  z-index: auto; }

.eze *:before {
  display: none; }

.eze .eze-table {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px; }
  .eze .eze-table .eze-table-actions {
    height: 35px;
    margin-right: 220px; }
    @media screen and (max-width: 1070px) {
      .eze .eze-table .eze-table-actions {
        margin-right: 0; } }
    .eze .eze-table .eze-table-actions .batch .btn {
      float: left;
      margin: 0 5px 10px 0; }
    .eze .eze-table .eze-table-actions .check-all {
      float: left;
      margin: 9px 5px 0 5px; }
    .eze .eze-table .eze-table-actions .table-toggles {
      float: right;
      position: relative;
      z-index: 1; }
      @media screen and (max-width: 1070px) {
        .eze .eze-table .eze-table-actions .table-toggles {
          float: left;
          clear: both;
          margin-top: -5px; } }
      .eze .eze-table .eze-table-actions .table-toggles .sort-by, .eze .eze-table .eze-table-actions .table-toggles .show-content-toggle {
        float: right;
        margin-bottom: 5px; }
        @media screen and (max-width: 1070px) {
          .eze .eze-table .eze-table-actions .table-toggles .sort-by, .eze .eze-table .eze-table-actions .table-toggles .show-content-toggle {
            clear: none; } }
        @media screen and (max-width: 825px) {
          .eze .eze-table .eze-table-actions .table-toggles .sort-by, .eze .eze-table .eze-table-actions .table-toggles .show-content-toggle {
            float: left;
            clear: both; } }
      .eze .eze-table .eze-table-actions .table-toggles h2 {
        float: left;
        font: bold 12px/12px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
        margin: 8px 10px 0 10px;
        display: inline;
        color: #555555; }
      .eze .eze-table .eze-table-actions .table-toggles .btn-group {
        float: left; }
      .eze .eze-table .eze-table-actions .table-toggles img {
        float: left;
        display: inline;
        opacity: 0.5; }
        .eze .eze-table .eze-table-actions .table-toggles img.active {
          opacity: 1; }
    .eze .eze-table .eze-table-actions .show-content-toggle {
      margin-right: 0; }
  .eze .eze-table .eze-table-content {
    position: absolute;
    top: 84px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    background: white;
    margin-right: 220px;
    border: 1px solid #e4e3e3;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0); }
    @media screen and (max-width: 1070px) {
      .eze .eze-table .eze-table-content {
        top: 111px; } }
    @media screen and (max-width: 825px) {
      .eze .eze-table .eze-table-content {
        top: 143px; } }
    .eze .eze-table .eze-table-content .no-content {
      font-size: 20px;
      text-align: center;
      margin: 50px 0 0 0;
      font-weight: 300; }
    .eze .eze-table .eze-table-content .loading-wrap {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.8);
      text-align: center;
      z-index: 100; }
      .eze .eze-table .eze-table-content .loading-wrap img {
        margin: 50px 0 0 0; }
    .eze .eze-table .eze-table-content .loading-bar {
      background: #0a0a0a;
      background: rgba(0, 0, 0, 0.7);
      color: white;
      text-align: center;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      position: relative;
      left: 50%;
      right: 50%;
      margin: 0 0 0 -100px;
      width: 200px;
      height: 20px;
      padding: 6px 0; }
    .eze .eze-table .eze-table-content .group-header {
      margin: -1px 0 0 0;
      background-color: white;
      background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#fafafa));
      background-image: -webkit-linear-gradient(top, white, #fafafa);
      background-image: -moz-linear-gradient(top, white, #fafafa);
      background-image: -ms-linear-gradient(top, white, #fafafa);
      background-image: -o-linear-gradient(top, white, #fafafa);
      background-image: linear-gradient(top, white, #fafafa);
      padding: 9px 0 8px 10px;
      color: #4c4c4c;
      font: normal 11px/11px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
      border-bottom: 1px solid #e4e3e3;
      border-top: 1px solid #e4e3e3;
      position: relative;
      z-index: 2; }
    .eze .eze-table .eze-table-content ul {
      list-style: none;
      margin: 0 0 1px 0; }
      .eze .eze-table .eze-table-content ul li.item {
        background: white;
        border-bottom: 1px solid white;
        padding: 0 0 0 0;
        margin: 0 1px;
        position: relative;
        display: block; }
        .eze .eze-table .eze-table-content ul li.item:nth-child(2n) {
          background: #fafafa; }
        .eze .eze-table .eze-table-content ul li.item .check {
          display: inline-block;
          width: 110px;
          height: 90px;
          padding: 0;
          margin: 0;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          -webkit-transform: translateZ(0);
          background: transparent; }
          .eze .eze-table .eze-table-content ul li.item .check input {
            margin: 5px 0 0 5px;
            -webkit-appearance: checkbox; }
        .eze .eze-table .eze-table-content ul li.item .thumb {
          margin: 0 10px 0 0;
          width: 110px;
          height: 90px;
          float: left;
          border-right: 1px solid white;
          background-color: #ffecd5;
          background-image: -webkit-gradient(linear, left top, left bottom, from(#ffecd5), to(#ffdab2));
          background-image: -webkit-linear-gradient(top, #ffecd5, #ffdab2);
          background-image: -moz-linear-gradient(top, #ffecd5, #ffdab2);
          background-image: -ms-linear-gradient(top, #ffecd5, #ffdab2);
          background-image: -o-linear-gradient(top, #ffecd5, #ffdab2);
          background-image: linear-gradient(top, #ffecd5, #ffdab2);
          overflow: hidden; }
          .eze .eze-table .eze-table-content ul li.item .thumb img {
            float: left; }
            .eze .eze-table .eze-table-content ul li.item .thumb img.class-icon {
              margin: 21px 0 0 31px;
              opacity: 0.8;
              min-width: auto;
              min-height: auto;
              max-width: none;
              max-height: none; }
        .eze .eze-table .eze-table-content ul li.item h2 {
          font: normal 18px/24px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
          margin: 15px 0 3px 0;
          display: inline-block;
          width: 60%;
          overflow: hidden;
          cursor: pointer; }
          .eze .eze-table .eze-table-content ul li.item h2 a {
            border-bottom: 1px solid #e07a00;
            color: #e07a00;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; }
        .eze .eze-table .eze-table-content ul li.item p {
          font: normal 12px/22px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
          margin: 0; }
          .eze .eze-table .eze-table-content ul li.item p img {
            margin-top: -2px; }
          .eze .eze-table .eze-table-content ul li.item p .other-locations {
            border-bottom: 1px dashed black;
            margin-right: 5px; }
          .eze .eze-table .eze-table-content ul li.item p a {
            text-decoration: underline; }
        .eze .eze-table .eze-table-content ul li.item .actions {
          position: absolute;
          top: 30px;
          right: 10px; }
      .eze .eze-table .eze-table-content ul li.publishing {
        -moz-animation: table-publish 0.3s ease 1 normal;
        -webkit-animation: table-publish 0.3s ease 1 normal;
        background: #bee9bf; }
      .eze .eze-table .eze-table-content ul li.removing {
        -moz-animation: removing 0.3s ease 1 normal;
        -webkit-animation: removing 0.3s ease 1 normal;
        opacity: 0; }
  .eze .eze-table .eze-filters-wrap {
    top: 84px;
    right: 0;
    position: absolute;
    width: 200px;
    margin-top: -37px; }
    .eze .eze-table .eze-filters-wrap .input-prepend input {
      width: 100%; }
    .eze .eze-table .eze-filters-wrap .icon-search {
      font-size: 16px;
      line-height: 12px;
      color: #666666; }
    .eze .eze-table .eze-filters-wrap .eze-filters {
      margin-top: 10px;
      border: 1px solid #e4e3e3;
      width: 178px;
      padding: 10px;
      background: white; }
      .eze .eze-table .eze-filters-wrap .eze-filters .description {
        font-size: 11px;
        margin: 0 0 0 2px; }
      .eze .eze-table .eze-filters-wrap .eze-filters select {
        width: 180px; }
      .eze .eze-table .eze-filters-wrap .eze-filters form {
        margin: 0 0 10px 0; }
        .eze .eze-table .eze-filters-wrap .eze-filters form .add-on {
          padding: 3px 4px 5px 4px; }
          .eze .eze-table .eze-filters-wrap .eze-filters form .add-on i {
            font-size: 16px; }

#eze-mediabase {
  display: none;
  -webkit-animation: fade-in 0.4s ease-in 1; }

#eze-mediabase:target {
  display: block; }

.eze-mediabase {
  position: absolute;
  top: 0;
  left: 74px;
  right: 0;
  bottom: 0;
  background: #141414;
  background: rgba(0, 0, 0, 0.8);
  z-index: 6000000;
  color: white;
  padding: 20px 0 0 20px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  .eze-mediabase h1 {
    margin: 0 0 20px 0; }
  .eze-mediabase nav {
    background: black; }
    .eze-mediabase nav i {
      margin: 0 10px 0 20px; }

.eze #eze-toolbar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 63px;
  border-right: 1px solid black;
  z-index: 7000000;
  background-color: #1b1b1b;
  background-image: -o-linear-gradient(left, #1b1b1b 0%, #1e1e1e 100%);
  background-image: -moz-linear-gradient(left, #1b1b1b 0%, #1e1e1e 100%);
  background-image: -webkit-linear-gradient(left, #1b1b1b 0%, #1e1e1e 100%);
  background-image: -ms-linear-gradient(left, #1b1b1b 0%, #1e1e1e 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #1b1b1b), color-stop(1, #1e1e1e));
  background-image: linear-gradient(left, #1b1b1b 0%, #1e1e1e 100%);
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5), inset -1px 0 #3c3c3c;
  -webkit-transform: translateZ(0);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }
  .eze #eze-toolbar ul {
    margin: 0;
    list-style: none;
    position: relative;
    left: 0;
    -webkit-animation: fade-in 0.4s ease-in 1; }
    .eze #eze-toolbar ul li {
      position: relative;
      padding: 0; }
      .eze #eze-toolbar ul li a {
        height: 50px;
        width: 62px;
        padding: 9px 0 0 0;
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        text-align: center;
        color: #aaaaaa;
        font-size: 10px;
        text-decoration: none;
        position: relative;
        cursor: pointer;
        overflow: hidden; }
        .eze #eze-toolbar ul li a .title {
          width: 100%;
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-align: center; }
      .eze #eze-toolbar ul li div.slide-in {
        position: absolute;
        top: 0;
        left: -400px;
        visibility: hidden;
        height: 60px;
        width: 400px;
        -webkit-transition: left 0.3s ease-out;
        -moz-transition: left 0.3s ease-out;
        -o-transition: left 0.3s ease-out;
        transition: left 0.3s ease-out; }
      .eze #eze-toolbar ul li div.slide-in.active {
        visibility: visible;
        left: 0; }
      .eze #eze-toolbar ul li .group a {
        float: left;
        border-bottom: 0;
        background: #1e1e1e;
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.5); }
        .eze #eze-toolbar ul li .group a:last-child {
          border-right: 0; }
      .eze #eze-toolbar ul li .quick-action {
        padding: 15px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.8);
        box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.5); }
        .eze #eze-toolbar ul li .quick-action.search .input-prepend, .eze #eze-toolbar ul li .quick-action.search .btn {
          float: left; }
        .eze #eze-toolbar ul li .quick-action.search .btn {
          margin: 0 0 0 10px;
          border: 1px solid white; }
  .eze #eze-toolbar img {
    max-height: 30px;
    max-width: 30px;
    border-radius: 30px;
    margin: 0 10px; }
  .eze #eze-toolbar b {
    background: url(/extension/ezexceed/design/ezexceed/images/sprite.png);
    display: block;
    width: 62px;
    height: 28px;
    margin: 0 0 1px 0; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
      .eze #eze-toolbar b {
        background: url(/extension/ezexceed/design/ezexceed/images/sprite@2x.png);
        -webkit-background-size: 1200px 640px;
        background-size: 1200px 640px; } }
  .eze #eze-toolbar li:hover a {
    color: #fdca7d; }
  .eze #eze-toolbar li:hover b {
    background-position-y: -28px; }
  .eze #eze-toolbar li.active a {
    color: #ffc000; }
  .eze #eze-toolbar li.active b {
    background-position-y: -56px; }
  .eze #eze-toolbar .eze-home {
    background-position: 0 0; }
  .eze #eze-toolbar .eze-create {
    background-position: -64px 0; }
  .eze #eze-toolbar .eze-document {
    background-position: -128px 0; }
  .eze #eze-toolbar .status-icon {
    border: 1px solid black;
    position: absolute;
    top: 5px;
    left: 38px; }
  .eze #eze-toolbar .eze-search {
    background-position: -192px 0; }
  .eze #eze-toolbar .eze-activity {
    background-position: -256px 0; }
  .eze #eze-toolbar .eze-media {
    background-position: -320px 0; }
  .eze #eze-toolbar .eze-sitemap {
    background-position: -384px 0; }
  .eze #eze-toolbar .eze-settings {
    background-position: -448px 0; }
  .eze #eze-toolbar .eze-more {
    background-position: -512px 0; }
  .eze #eze-toolbar .eze-preview {
    background-position: -576px 0; }
  .eze #eze-toolbar .eze-publish {
    background-position: -640px 0; }
  .eze #eze-toolbar .eze-layout {
    background-position: -704px 0; }
.eze .popover {
  border-color: white;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
  max-height: 650px;
  border-radius: 4px;
  width: 350px;
  background: #fafafa;
  -moz-animation: fade-in 0.5s ease 1 normal;
  -webkit-animation: fade-in 0.5s ease 1 normal; }
  .eze .popover.right .arrow {
    left: -11px; }
  .eze .popover .popover-title {
    background: white; }
  .eze .popover h1 {
    font: normal 20px/20px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    margin: 0 0 10px 0; }
  .eze .popover h2 {
    font: normal 16px/16px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    margin: 0 0 10px 0; }
  .eze .popover h4 {
    font: bold 12px/14px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    margin: 5px 0 10px 0; }
  .eze .popover .eze-autosave {
    position: absolute;
    top: 6px;
    right: 0; }
.eze .eze-activity-modal, .eze .eze-preview-modal, .eze .eze-publish-modal, .eze .eze-add-content-modal, .eze .eze-dashboard-modal {
  position: fixed; }
.eze .eze-activity-modal {
  width: 420px; }
  .eze .eze-activity-modal .btn-group {
    margin: 0 0 10px 0; }
  .eze .eze-activity-modal .show-more {
    margin: 10px 0 0 0; }
  .eze .eze-activity-modal .eze-comments {
    background: white;
    border: 1px solid #cccccc; }
.eze .eze-preview-modal {
  width: 510px; }
  .eze .eze-preview-modal .table {
    margin: 0; }
    .eze .eze-preview-modal .table tr:first-child td {
      border-top: 0; }
    .eze .eze-preview-modal .table td {
      padding: 8px 8px 8px 0;
      vertical-align: middle; }
    .eze .eze-preview-modal .table p, .eze .eze-preview-modal .table label {
      margin: 4px 0 0 0; }
    .eze .eze-preview-modal .table p {
      width: 150px;
      margin: 0;
      line-height: 32px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
      .eze .eze-preview-modal .table p .icon-32 {
        float: left; }
  .eze .eze-preview-modal .get-app {
    margin: 10px 0 0 0; }
  .eze .eze-preview-modal .preview-url {
    width: 470px; }
.eze .eze-publish-modal {
  width: 420px; }
  .eze .eze-publish-modal .publish-info {
    font-size: 11px;
    margin: -5px 0 5px 0; }
  .eze .eze-publish-modal label.checkbox {
    margin: 0 0 5px 2px; }
.eze .eze-add-content-modal {
  width: 640px; }
.eze .eze-dashboard-modal {
  width: 605px; }
  .eze .eze-dashboard-modal .form-inline input {
    width: 180px; }
  .eze .eze-dashboard-modal .well {
    margin-top: 10px; }
    .eze .eze-dashboard-modal .well input {
      width: 100px; }
  .eze .eze-dashboard-modal h2 img {
    margin: -2px 5px 0 0; }
  .eze .eze-dashboard-modal .eze-items {
    margin: 0 0 20px 0; }

.eze .eze-bigmodal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 64px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 5000000;
  overflow: hidden; }
  .eze .eze-bigmodal .eze-modal-content {
    background: #fafafa;
    min-width: 650px;
    margin-right: 44px;
    max-width: 1100px;
    box-shadow: 6px 0 0 0 rgba(0, 0, 0, 0.15);
    min-height: 100%; }
.eze .eze-stack-content h1 {
  font: 100 28px/20px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px; }
.eze .eze-stack-content h2 {
  font: bold 14px/14px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif; }
.eze .semi-direct {
  width: 670px;
  position: fixed; }
  .eze .semi-direct form {
    margin: 0; }
  .eze .semi-direct .heading, .eze .semi-direct .label-required {
    display: none; }
  .eze .semi-direct .modal-body {
    max-height: 500px; }
.eze .eze-modal-backdrop {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: auto;
  box-shadow: none;
  max-height: 0;
  border-radius: 0; }
.eze .eze-modal {
  border-radius: 4px;
  min-width: 400px;
  max-width: 900px;
  height: 500px;
  margin: 80px auto 0 auto;
  background: #1d1d1d;
  border: 1px solid black;
  box-shadow: 0 0 7px 0 black, inset 0 0 -1px 0 #535353;
  position: relative; }
  .eze .eze-modal .gfx {
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    height: 36px;
    background-color: #343434;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#343434), to(#1d1d1d));
    background-image: -webkit-linear-gradient(top, #343434, #1d1d1d);
    background-image: -moz-linear-gradient(top, #343434, #1d1d1d);
    background-image: -ms-linear-gradient(top, #343434, #1d1d1d);
    background-image: -o-linear-gradient(top, #343434, #1d1d1d);
    background-image: linear-gradient(top, #343434, #1d1d1d);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    z-index: 1; }
  .eze .eze-modal .eze-modal-nav {
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 2; }
    .eze .eze-modal .eze-modal-nav ul {
      margin: 0;
      list-style: none; }
      .eze .eze-modal .eze-modal-nav ul li {
        float: left;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background: transparent;
        color: white;
        height: 28px;
        margin: 0 5px 0 0;
        padding: 6px 15px 0;
        border: 1px solid black;
        box-shadow: inset 0 0 1px #828282;
        letter-spacing: 0.01em;
        cursor: pointer; }
        .eze .eze-modal .eze-modal-nav ul li:hover {
          background: rgba(255, 255, 255, 0.1); }
        .eze .eze-modal .eze-modal-nav ul li.active {
          border: 1px solid white;
          background: white;
          color: black;
          box-shadow: none; }
        .eze .eze-modal .eze-modal-nav ul li.search {
          padding: 0;
          height: 36px; }
          .eze .eze-modal .eze-modal-nav ul li.search input {
            background: rgba(255, 255, 255, 0.1);
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border: 0;
            font-size: 11px;
            padding: 0 10px;
            height: 34px;
            color: white;
            width: 150px; }
  .eze .eze-modal .eze-modal-content {
    border-radius: 4px;
    background: white;
    position: absolute;
    top: 38px;
    bottom: 56px;
    left: 6px;
    right: 6px;
    z-index: 3;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); }
  .eze .eze-modal .eze-modal-action {
    position: absolute;
    bottom: 6px;
    left: 6px;
    right: 6px;
    height: 55px;
    padding: 0 10px;
    background: #f2f2f2;
    z-index: 1;
    border-radius: 4px; }

.eze .stack-item {
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 650px;
  right: 44px;
  max-width: 1100px; }
  .eze .stack-item header {
    background: #ffac42;
    height: 30px;
    border-bottom: 1px solid #ffd6a1;
    position: fixed;
    z-index: 100;
    right: 44px;
    left: 64px;
    min-width: 650px;
    max-width: 1100px; }
    .eze .stack-item header h1 {
      display: inline-block;
      font: normal 12px/32px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
      margin: 0;
      width: 50%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
      .eze .stack-item header h1 .iconwrap {
        float: left;
        width: 16px;
        margin: 9px 5px 0 10px;
        line-height: 10px; }
        .eze .stack-item header h1 .iconwrap .icon-16 {
          margin: 0; }
        .eze .stack-item header h1 .iconwrap .icon-32 {
          margin-top: 8px;
          display: none; }
    .eze .stack-item header button {
      display: none; }
    .eze .stack-item header .close-stack, .eze .stack-item header .go-back {
      float: right;
      padding: 0 15px;
      border: 0;
      height: 30px;
      color: #4e2900;
      font-size: 12px;
      white-space: nowrap; }
      .eze .stack-item header .close-stack img, .eze .stack-item header .go-back img {
        margin: -2px 4px 0 0;
        height: 9px;
        width: 9px; }
      .eze .stack-item header .close-stack span, .eze .stack-item header .go-back span {
        white-space: nowrap; }
  .eze .stack-item.first .go-back {
    background: none;
    filter: none;
    border-left: 1px solid rgba(255, 255, 255, 0);
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out; }
    .eze .stack-item.first .go-back:hover {
      background: #ff8d00;
      border-left: 1px solid rgba(255, 255, 255, 0.4); }
  .eze .stack-item.last .go-back {
    background-color: #ff9100;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9100), to(#ff5b00));
    background-image: -webkit-linear-gradient(top, #ff9100, #ff5b00);
    background-image: -moz-linear-gradient(top, #ff9100, #ff5b00);
    background-image: -ms-linear-gradient(top, #ff9100, #ff5b00);
    background-image: -o-linear-gradient(top, #ff9100, #ff5b00);
    background-image: linear-gradient(top, #ff9100, #ff5b00);
    height: 44px;
    color: #4c3312;
    font-size: 16px;
    font-weight: bold;
    padding: 0 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.4);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }
    .eze .stack-item.last .go-back img {
      margin: -3px 3px 0 0;
      height: 14px;
      width: 12px;
      -webkit-transition: margin 0.2s ease-out;
      -moz-transition: margin 0.2s ease-out;
      -o-transition: margin 0.2s ease-out;
      transition: margin 0.2s ease-out; }
    .eze .stack-item.last .go-back:hover {
      background-color: #ff9100;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9100), to(#ff5b00));
      background-image: -webkit-linear-gradient(top, #ff9100, #ff5b00);
      background-image: -moz-linear-gradient(top, #ff9100, #ff5b00);
      background-image: -ms-linear-gradient(top, #ff9100, #ff5b00);
      background-image: -o-linear-gradient(top, #ff9100, #ff5b00);
      background-image: linear-gradient(top, #ff9100, #ff5b00);
      border-left: 1px solid rgba(255, 255, 255, 0.5); }
      .eze .stack-item.last .go-back:hover img {
        margin: -10px 3px 0 0; }
  .eze .stack-item.last .close-stack {
    font-size: 12px; }
    .eze .stack-item.last .close-stack img {
      height: 9px;
      width: 9px;
      margin: -3px 5px 0 0; }
    .eze .stack-item.last .close-stack:hover img {
      margin: -3px 5px 0 0; }
  .eze .stack-item:nth-last-child(2) header {
    background: #ff9c00;
    border-bottom: 1px solid #ffce80; }
  .eze .stack-item:nth-last-child(3) header {
    background: #ffac42; }
  .eze .stack-item.first header button, .eze .stack-item.last header button {
    display: block; }
  .eze .stack-item.last header {
    height: 44px;
    right: 44px;
    max-width: 1100px;
    background-color: #ff9100;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9100), to(#ff7b00));
    background-image: -webkit-linear-gradient(top, #ff9100, #ff7b00);
    background-image: -moz-linear-gradient(top, #ff9100, #ff7b00);
    background-image: -ms-linear-gradient(top, #ff9100, #ff7b00);
    background-image: -o-linear-gradient(top, #ff9100, #ff7b00);
    background-image: linear-gradient(top, #ff9100, #ff7b00);
    border-bottom: 0;
    box-shadow: 0 2px 2px 0 rgba(198, 93, 0, 0.6), inset 0 -1px 0 0 rgba(255, 255, 255, 0.4); }
    .eze .stack-item.last header h1 {
      font: normal 16px/44px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif; }
      .eze .stack-item.last header h1 span {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block; }
      .eze .stack-item.last header h1 .iconwrap {
        width: 32px;
        margin: -1px 5px 0 10px; }
        .eze .stack-item.last header h1 .iconwrap .icon-16 {
          display: none; }
        .eze .stack-item.last header h1 .iconwrap .icon-32 {
          display: block; }
  .eze .stack-item.move-in header {
    -moz-animation: stack-header-move-in 0.5s ease 1 normal;
    -webkit-animation: stack-header-move-in 0.5s ease 1 normal; }
  .eze .stack-item.move-out header {
    -moz-animation: stack-header-move-out 0.2s ease 1 normal;
    -webkit-animation: stack-header-move-out 0.2s ease 1 normal; }
  .eze .stack-item .eze-autosave {
    float: right;
    height: 44px; }
    .eze .stack-item .eze-autosave p {
      margin: 0 20px;
      color: #4e2900;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
      font: bold 14px/45px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif; }
  .eze .stack-item .eze-stack-content {
    display: none;
    padding: 15px;
    position: absolute;
    top: 44px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-animation: stack-content-move-in 0.5s ease 1 normal;
    -webkit-animation: stack-content-move-in 0.5s ease 1 normal;
    display: none; }
    .eze .stack-item .eze-stack-content.dark {
      background: #222222;
      color: white; }
    .eze .stack-item .eze-stack-content > .eze-loader {
      margin: 60px auto 0 auto;
      display: block; }
  .eze .stack-item.last .eze-stack-content {
    display: block; }
  .eze .stack-item.move-out .eze-stack-content {
    -moz-animation: stack-content-move-out 0.5s ease 1 normal;
    -webkit-animation: stack-content-move-out 0.5s ease 1 normal; }

.eze .finder {
  background: white;
  margin: -15px -15px 0 -15px; }
  .eze .finder .breadcrumbs {
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
    background-color: #e1e1e1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#f7f7f7));
    background-image: -webkit-linear-gradient(top, #e1e1e1, #f7f7f7);
    background-image: -moz-linear-gradient(top, #e1e1e1, #f7f7f7);
    background-image: -ms-linear-gradient(top, #e1e1e1, #f7f7f7);
    background-image: -o-linear-gradient(top, #e1e1e1, #f7f7f7);
    background-image: linear-gradient(top, #e1e1e1, #f7f7f7);
    height: 18px;
    padding: 4px 5px; }
    .eze .finder .breadcrumbs p {
      margin: 0;
      font: normal 11px/20px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .eze .finder .breadcrumbs .btn-group {
      float: left;
      margin: -2px 10px 0 0; }
      .eze .finder .breadcrumbs .btn-group .active a {
        background: #eeeeee;
        color: black; }
  .eze .finder .error {
    background: #ec0d0d;
    text-align: center;
    color: white;
    padding: 5px 0; }
  .eze .finder .kp-columns-wrapper {
    float: left;
    overflow-x: auto;
    overflow-y: hidden; }
    .eze .finder .kp-columns-wrapper .column {
      float: left;
      border-right: 1px solid lightgrey;
      overflow-x: hidden;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch; }
      .eze .finder .kp-columns-wrapper .column .input-append {
        position: relative;
        max-width: 200px;
        min-width: 200px; }
        .eze .finder .kp-columns-wrapper .column .input-append .add-on {
          position: absolute;
          top: 0;
          right: -11px;
          background: transparent;
          border: 0;
          z-index: 2; }
          .eze .finder .kp-columns-wrapper .column .input-append .add-on .icon-search {
            color: #555555;
            font-size: 16px;
            line-height: 12px; }
      .eze .finder .kp-columns-wrapper .column .search {
        width: 100%;
        border: 0;
        border-radius: 0;
        color: black;
        border-bottom: 1px solid #cccccc; }
    .eze .finder .kp-columns-wrapper li.notice {
      max-width: 200px;
      min-width: 200px;
      text-align: center;
      padding: 30px 0; }
      .eze .finder .kp-columns-wrapper li.notice img {
        margin: -1px 0 0 -15px; }
    .eze .finder .kp-columns-wrapper li.node {
      background-image: none;
      display: block;
      cursor: pointer; }
      .eze .finder .kp-columns-wrapper li.node a {
        color: black;
        display: block;
        height: 24px;
        min-width: 200px;
        max-width: 200px;
        font: normal 12px/12px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 0 10px 0 0;
        -webkit-transition: all 0.1s ease-out;
        -moz-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        border-top: 1px solid transparent;
        border-bottom: 1px solid #ebebeb;
        position: relative;
        margin-top: -1px;
        -webkit-transform: translate3d(0, 0, 0); }
        .eze .finder .kp-columns-wrapper li.node a:hover {
          background: #fafafa;
          border-color: #cccccc; }
        .eze .finder .kp-columns-wrapper li.node a .has-children-arrow {
          background-color: #fafafa; }
        .eze .finder .kp-columns-wrapper li.node a span {
          margin-left: 27px;
          line-height: 24px; }
        .eze .finder .kp-columns-wrapper li.node a img {
          position: absolute;
          left: 6px;
          top: 50%;
          bottom: 50%;
          margin-top: -8px;
          height: 16px;
          width: 16px; }
        .eze .finder .kp-columns-wrapper li.node a .has-children-arrow {
          display: block;
          height: 16px;
          width: 16px;
          position: absolute;
          right: 2px;
          top: 50%;
          bottom: 50%;
          margin-top: -8px;
          -webkit-transition: all 0.1s ease-out;
          -moz-transition: all 0.1s ease-out;
          -o-transition: all 0.1s ease-out;
          transition: all 0.1s ease-out;
          opacity: 0.7;
          background: transparent url("../images/legacy-sprite.png") -136px -22px no-repeat; }
          @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
            .eze .finder .kp-columns-wrapper li.node a .has-children-arrow {
              background: transparent url("../images/legacy-sprite.png") -65px -55px no-repeat;
              -webkit-background-size: 300px 80px;
              background-size: 300px 80px; } }
      .eze .finder .kp-columns-wrapper li.node.active a, .eze .finder .kp-columns-wrapper li.node.active a:hover, .eze .finder .kp-columns-wrapper li.node.dragover a {
        background: orange;
        border-color: orange; }
        .eze .finder .kp-columns-wrapper li.node.active a .has-children-arrow, .eze .finder .kp-columns-wrapper li.node.active a:hover .has-children-arrow, .eze .finder .kp-columns-wrapper li.node.dragover a .has-children-arrow {
          opacity: 1; }
      .eze .finder .kp-columns-wrapper li.node.hidden-object {
        opacity: 0.5;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); }
        .eze .finder .kp-columns-wrapper li.node.hidden-object * {
          filter: alpha(opacity=50); }
      .eze .finder .kp-columns-wrapper li.node.dragged {
        z-index: 999; }
      .eze .finder .kp-columns-wrapper li.node.empty-node .has-children-arrow, .eze .finder .kp-columns-wrapper li.node.empty-node.active .has-children-arrow {
        opacity: 0.2;
        filter: alpha(opacity=50); }
      .eze .finder .kp-columns-wrapper li.node.clipboard a {
        color: rgba(0, 0, 0, 0.3); }
        .eze .finder .kp-columns-wrapper li.node.clipboard a img {
          opacity: 0.3; }
      .eze .finder .kp-columns-wrapper li.node.ui-draggable-dragging a {
        background: #ffc27f;
        opacity: 0.8;
        border-color: #ffc27f; }
        .eze .finder .kp-columns-wrapper li.node.ui-draggable-dragging a .has-children-arrow {
          background-color: #ffc27f;
          opacity: 0.8; }
    .eze .finder .kp-columns-wrapper .dnd .nodes .no-drop {
      opacity: 0.5;
      filter: alpha(opacity=50); }
  .eze .finder .upload {
    margin: 5px 0; }
    .eze .finder .upload button {
      display: block;
      margin: 0 auto;
      border: 1px solid #d9d9d9;
      font-size: 11px;
      background: #efefef;
      padding: 3px 10px 3px 7px;
      border-radius: 4px;
      -webkit-transition: background 0.2s ease-out;
      -moz-transition: background 0.2s ease-out;
      -o-transition: background 0.2s ease-out;
      transition: background 0.2s ease-out; }
      .eze .finder .upload button:hover {
        background: white; }
      .eze .finder .upload button.uploading:hover {
        background-color: #efefef;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#fafafa));
        background-image: -webkit-linear-gradient(top, #efefef, #fafafa);
        background-image: -moz-linear-gradient(top, #efefef, #fafafa);
        background-image: -ms-linear-gradient(top, #efefef, #fafafa);
        background-image: -o-linear-gradient(top, #efefef, #fafafa);
        background-image: linear-gradient(top, #efefef, #fafafa);
        cursor: auto; }
    .eze .finder .upload img {
      margin: -2px 3px 0 0 !important; }
  .eze .finder .kp-finder-content {
    clear: both;
    float: left;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }
    .eze .finder .kp-finder-content ul {
      margin: 0;
      list-style: none;
      border-top: 1px solid #eeeeee; }
  .eze .finder .actions {
    width: 242px;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    float: left;
    padding: 0 10px;
    margin-left: -2px; }
    .eze .finder .actions .heading {
      text-align: center;
      margin-top: 20px; }
      .eze .finder .actions .heading h2 {
        font: normal 14px/22px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
        text-align: center; }
      .eze .finder .actions .heading h3 {
        font: normal 11px/11px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-align: center;
        margin: 5px 0; }
      .eze .finder .actions .heading img {
        height: 48px;
        width: 48px; }
      .eze .finder .actions .heading .thumb {
        height: 168px;
        width: 168px;
        border: 1px solid white;
        border-radius: 4px;
        margin: 0 auto;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4); }
    .eze .finder .actions .meta {
      font-weight: bold;
      text-align: left; }
      .eze .finder .actions .meta ul {
        margin: 10px 2px 20px; }
        .eze .finder .actions .meta ul li {
          margin: 0 0 10px 0;
          font: bold 12px/12px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif; }
          .eze .finder .actions .meta ul li .status-icon {
            margin: 0 3px 0 0; }
      .eze .finder .actions .meta span {
        font: normal 11px/18px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
        display: block;
        width: 100%; }
    .eze .finder .actions .action-buttons {
      border: none; }
      .eze .finder .actions .action-buttons > li {
        float: left;
        margin: 0 5px 10px 0; }
        .eze .finder .actions .action-buttons > li .btn.dropdown-toggle {
          height: 20px; }
    .eze .finder .actions .btn-group.open .dropdown-menu {
      width: 220px;
      left: auto;
      right: 0; }
  @media screen and (max-width: 1024px) {
    .eze .finder .kp-finder-content ul li a {
      height: 32px; } }
  @media screen and (max-width: 1024px) {
    .eze .finder .kp-finder-content ul li a span {
      line-height: 34px; } }

.eze .kp-edit-block {
  position: relative !important; }

.eze .kp-edit-block-box, .attribute-direct-edit {
  border-radius: 4px !important;
  width: 28px !important;
  height: 28px !important;
  cursor: pointer !important;
  position: absolute !important;
  z-index: 100 !important;
  opacity: 0.8 !important; }
  .eze .kp-edit-block-box:hover, .attribute-direct-edit:hover {
    opacity: 1 !important; }

.eze .kp-edit-block-box, .eze .options-menu {
  border: 1px solid black !important;
  background-color: #5c5c5c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5c5c5c), to(#020202));
  background-image: -webkit-linear-gradient(top, #5c5c5c, #020202);
  background-image: -moz-linear-gradient(top, #5c5c5c, #020202);
  background-image: -ms-linear-gradient(top, #5c5c5c, #020202);
  background-image: -o-linear-gradient(top, #5c5c5c, #020202);
  background-image: linear-gradient(top, #5c5c5c, #020202);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.2) !important;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out; }
  .eze .kp-edit-block-box.active, .eze .options-menu.active {
    width: auto !important;
    height: auto !important;
    opacity: 1 !important;
    z-index: 101 !important;
    background: black; }
    .eze .kp-edit-block-box.active ul, .eze .options-menu.active ul {
      width: auto !important;
      height: auto !important;
      -webkit-transform: translateZ(0); }
      .eze .kp-edit-block-box.active ul li, .eze .options-menu.active ul li {
        display: block !important;
        opacity: 1 !important;
        filter: alpha(opacity=100) !important; }
        .eze .kp-edit-block-box.active ul li.separator, .eze .options-menu.active ul li.separator {
          background: #414141 !important;
          border-top: 1px solid black;
          border-bottom: 1px solid black;
          padding: 0 0 0 10px !important;
          color: white !important;
          font-size: 11px !important;
          height: 4px; }
  .eze .kp-edit-block-box ul, .eze .options-menu ul {
    height: 28px !important;
    width: 28px !important;
    display: block !important;
    overflow: visible !important;
    border-radius: 4px !important;
    margin: 0 !important;
    cursor: pointer !important;
    background: url("../images/legacy-sprite.png") -570px -40px no-repeat !important; }
    .eze .kp-edit-block-box ul li, .eze .options-menu ul li {
      display: none !important;
      opacity: 0 !important;
      filter: alpha(opacity=0) !important;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
      .eze .kp-edit-block-box ul li:first-child a.item, .eze .options-menu ul li:first-child a.item {
        border-top-left-radius: 4px !important;
        border-top-right-radius: 4px !important;
        box-shadow: none !important;
        border: 0 !important; }
      .eze .kp-edit-block-box ul li:last-child, .eze .options-menu ul li:last-child {
        border-bottom-left-radius: 4px !important;
        border-bottom-right-radius: 4px !important; }
      .eze .kp-edit-block-box ul li a.item, .eze .options-menu ul li a.item {
        font: normal 12px/38px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
        background: #2b2b2b;
        border-top: 1px solid black !important;
        box-shadow: inset 0 1px 0 0 #414141 !important;
        color: white !important;
        text-decoration: none !important;
        display: block !important;
        padding: 0 40px 0 0 !important;
        height: 35px !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .eze .kp-edit-block-box ul li a.item strong, .eze .options-menu ul li a.item strong {
          margin-right: 2px !important;
          display: inline-block; }
        .eze .kp-edit-block-box ul li a.item img, .eze .options-menu ul li a.item img {
          margin: -1px 8px 0 8px !important; }
        .eze .kp-edit-block-box ul li a.item:hover, .eze .options-menu ul li a.item:hover {
          background-color: #555555;
          background-image: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#2d2d2d));
          background-image: -webkit-linear-gradient(top, #555555, #2d2d2d);
          background-image: -moz-linear-gradient(top, #555555, #2d2d2d);
          background-image: -ms-linear-gradient(top, #555555, #2d2d2d);
          background-image: -o-linear-gradient(top, #555555, #2d2d2d);
          background-image: linear-gradient(top, #555555, #2d2d2d);
          cursor: pointer !important;
          box-shadow: inset 0 1px 0 0 #676767 !important;
          color: white !important; }

.eze .options-menu {
  width: 30px;
  position: relative;
  box-shadow: none !important;
  border: 0 !important;
  background: transparent;
  opacity: 0.7; }
  .eze .options-menu > ul {
    background: url("../images/kp/16x16/Settings.png") center center no-repeat !important; }
  .eze .options-menu .eze-checkbox {
    display: block;
    float: left;
    height: 12px;
    width: 12px;
    background: black;
    margin: 11px 6px 0 9px;
    border: 2px solid white;
    border-radius: 16px; }
    .eze .options-menu .eze-checkbox span {
      display: none;
      height: 6px;
      width: 6px;
      background: white;
      margin: 3px auto;
      border-radius: 6px; }
  .eze .options-menu.active {
    position: relative;
    border-radius: 4px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(255, 255, 255, 0.2) !important;
    border: 1px solid black !important;
    opacity: 1; }
    .eze .options-menu.active ul .sort-options {
      padding: 5px;
      background: #2b2b2b; }
    .eze .options-menu.active ul .select2-container {
      margin: 0; }
    .eze .options-menu.active ul .select2-choice {
      border: 1px solid black; }
    .eze .options-menu.active ul li.active .eze-checkbox span {
      display: block; }
    .eze .options-menu.active ul .order button {
      border-color: black; }

.attribute-direct-edit {
  border: 1px solid #555555 !important;
  border: 1px solid white !important;
  background-color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#ededed));
  background-image: -webkit-linear-gradient(top, white, #ededed);
  background-image: -moz-linear-gradient(top, white, #ededed);
  background-image: -ms-linear-gradient(top, white, #ededed);
  background-image: -o-linear-gradient(top, white, #ededed);
  background-image: linear-gradient(top, white, #ededed);
  -webkit-box-shadow: 0 0 5px black, 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 0 5px black, 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  box-shadow: 0 0 5px black, 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  opacity: 0.9 !important;
  top: 2px;
  left: 2px; }
  .attribute-direct-edit img {
    margin: 6px 0 0 6px !important;
    height: 16px !important;
    width: 16px !important; }
  .attribute-direct-edit span {
    height: 16px !important;
    width: 16px !important;
    display: block !important;
    border-radius: 4px !important;
    background: url("../images/legacy-sprite.png") -562px -25px no-repeat !important;
    margin: 7px 0 0 5px !important;
    cursor: pointer !important; }

.eze .caret.left {
  border: 4px solid transparent;
  border-right-color: black; }
.eze .btn .caret.left {
  border: 4px solid transparent;
  border-right-color: black;
  border-top: 4px solid transparent;
  margin-left: -5px;
  margin-top: 6px;
  margin-right: 3px; }
.eze .eze-autosave {
  position: relative;
  font: normal 12px/28px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 27px;
  border-radius: 2px; }
  .eze .eze-autosave.saving img {
    margin: 0 5px 0 0; }
  .eze .eze-autosave p {
    float: left;
    margin: 0 10px 0; }
.eze .eze-items {
  list-style-type: none;
  margin: 0 0 10px 0;
  -webkit-transform: translateZ(0);
  position: relative; }
  .eze .eze-items > li {
    margin: 0 0 5px 0;
    width: 100%;
    border-radius: 4px;
    background: #cccccc; }
    .eze .eze-items > li.notification {
      background: rgba(250, 250, 250, 0.9);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      text-align: center;
      opacity: 1; }
      .eze .eze-items > li.notification p {
        height: 26px;
        position: absolute;
        background: #fafafa;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: -13px;
        font: normal 20px/20px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif; }
        .eze .eze-items > li.notification p img {
          margin: -4px 7px 0 0; }
    .eze .eze-items > li.locationGroup {
      background: transparent; }
      .eze .eze-items > li.locationGroup .location-group-list {
        margin: 0; }
        .eze .eze-items > li.locationGroup .location-group-list li {
          margin: 0 0 5px 0; }
    .eze .eze-items > li .wrap, .eze .eze-items > li .right-align .btn, .eze .eze-items > li .reorder, .eze .eze-items > li .right-align {
      height: 34px;
      line-height: 34px; }
    .eze .eze-items > li .wrap {
      background: white;
      background-color: white;
      background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(whitesmoke));
      background-image: -webkit-linear-gradient(top, white, whitesmoke);
      background-image: -moz-linear-gradient(top, white, whitesmoke);
      background-image: -ms-linear-gradient(top, white, whitesmoke);
      background-image: -o-linear-gradient(top, white, whitesmoke);
      background-image: linear-gradient(top, white, whitesmoke);
      border: 1px solid #d0d0d0;
      border-radius: 4px;
      padding: 0;
      position: relative;
      overflow: visible; }
      .eze .eze-items > li .wrap .reorder {
        display: block;
        width: 40px;
        float: left;
        margin-right: -8px;
        background: url(../images/scrubber.png) center center no-repeat;
        cursor: move; }
      .eze .eze-items > li .wrap img {
        margin: -1px 5px 0 10px; }
      .eze .eze-items > li .wrap input[type="checkbox"] {
        margin: 2px 0 0 10px; }
      .eze .eze-items > li .wrap input[type="text"], .eze .eze-items > li .wrap input[type="email"], .eze .eze-items > li .wrap input[type="time"], .eze .eze-items > li .wrap input[type="date"], .eze .eze-items > li .wrap input[type="datetime"] {
        width: 130px;
        height: 22px;
        padding: 0 3px 0 7px;
        margin: -1px 5px 0 5px;
        line-height: 22px; }
      .eze .eze-items > li .wrap input.activate-time, .eze .eze-items > li .wrap input.activate-date {
        text-align: center;
        width: 40px; }
      .eze .eze-items > li .wrap input.activate-date {
        width: 90px; }
      .eze .eze-items > li .wrap .right-align {
        position: absolute;
        right: 0;
        top: 0px;
        bottom: 1px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: white;
        background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(whitesmoke));
        background-image: -webkit-linear-gradient(top, white, whitesmoke);
        background-image: -moz-linear-gradient(top, white, whitesmoke);
        background-image: -ms-linear-gradient(top, white, whitesmoke);
        background-image: -o-linear-gradient(top, white, whitesmoke);
        background-image: linear-gradient(top, white, whitesmoke);
        overflow: visible; }
        .eze .eze-items > li .wrap .right-align .dropdown-menu {
          display: block;
          bottom: -10px;
          top: auto !important;
          width: 200px;
          left: -45px; }
        .eze .eze-items > li .wrap .right-align .status-icon {
          margin: 11px 10px 0 5px; }
        .eze .eze-items > li .wrap .right-align .btn {
          background: transparent;
          border: 0;
          padding: 0 15px;
          margin: -1px 0 0 0;
          border-radius: 0;
          border-left: 1px solid #d0d0d0; }
          .eze .eze-items > li .wrap .right-align .btn:hover {
            background: white; }
          .eze .eze-items > li .wrap .right-align .btn.radio-btn {
            padding: 0 10px; }
            .eze .eze-items > li .wrap .right-align .btn.radio-btn input {
              margin: -1px 2px 0 0; }
        .eze .eze-items > li .wrap .right-align .btn:last-child {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px; }
    .eze .eze-items > li select, .eze .eze-items > li .select2-container {
      margin: 5px 5px 0 0;
      display: block;
      float: left; }
  .eze .eze-items.with-dropdown li .right-align, .eze .eze-items.with-dropdown li .wrap {
    overflow: visible; }
  .eze .eze-items.with-dropdown li .title {
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis; }
.eze .eze-content-types {
  list-style: none;
  margin: 0;
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px 0 0 10px;
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc;
  border-radius: 4px; }
  .eze .eze-content-types li {
    cursor: pointer;
    display: block;
    float: left;
    margin: 0 10px 10px 0;
    width: 160px;
    border: 1px solid #d9d9d9;
    background-color: #f8f8f8;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #f8f8f8, #eeeeee);
    background-image: -moz-linear-gradient(top, #f8f8f8, #eeeeee);
    background-image: -ms-linear-gradient(top, #f8f8f8, #eeeeee);
    background-image: -o-linear-gradient(top, #f8f8f8, #eeeeee);
    background-image: linear-gradient(top, #f8f8f8, #eeeeee);
    height: 24px;
    font: normal 12px/26px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 4px;
    padding: 0 15px 0 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .eze .eze-content-types li img {
      margin: -4px 4px 0 0;
      vertical-align: middle; }
    .eze .eze-content-types li:hover {
      background: white; }
.eze input[type="text"].write-post {
  width: 70%;
  margin-bottom: 5px; }
.eze .eze-comments {
  list-style: none;
  margin: 0 0 10px 0;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 10px;
  border-radius: 4px;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0); }
  .eze .eze-comments li {
    border-bottom: 1px solid gainsboro;
    padding: 6px 15px;
    margin: 0 -15px; }
    .eze .eze-comments li:first-child {
      border-top: 0; }
    .eze .eze-comments li:nth-child(2n) {
      background: rgba(200, 200, 200, 0.1); }
    .eze .eze-comments li .user-image {
      height: 34px;
      width: 34px;
      border-radius: 34px;
      float: left;
      margin-left: -3px; }
    .eze .eze-comments li p {
      margin: 0 0 0 40px;
      font: normal 12px/18px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif; }
      .eze .eze-comments li p .date {
        font-size: 11px; }
      .eze .eze-comments li p.post-actions {
        font-size: 11px;
        margin: 5px 0 0 40px; }
        .eze .eze-comments li p.post-actions a {
          color: #d67f00;
          text-decoration: underline;
          cursor: pointer; }
    .eze .eze-comments li .eze-replies {
      list-style: none;
      margin: 0; }
      .eze .eze-comments li .eze-replies li {
        padding: 0;
        margin: 10px 0 0 10px;
        border: 0;
        background: none; }
        .eze .eze-comments li .eze-replies li .post-actions {
          margin: 0 0 0 40px; }
        .eze .eze-comments li .eze-replies li:last-child .post-actions {
          margin-bottom: -10px; }
    .eze .eze-comments li .add-comment-button {
      float: right; }
    .eze .eze-comments li .add-comment {
      margin: 0;
      padding: 0 10px 0 40px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      position: relative; }
      .eze .eze-comments li .add-comment .btn {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2; }
      .eze .eze-comments li .add-comment input {
        margin: 0 0 0 0;
        font: normal 11px/12px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
        height: 12px;
        width: 99%; }
.eze .eze-blackout {
  background: rgba(0, 0, 0, 0.5);
  z-index: 90000000 !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }
.eze .alert-wrapper {
  width: 190px;
  padding: 20px 40px;
  border: 1px solid black;
  background-color: #424242;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#424242), to(black));
  background-image: -webkit-linear-gradient(top, #424242, black);
  background-image: -moz-linear-gradient(top, #424242, black);
  background-image: -ms-linear-gradient(top, #424242, black);
  background-image: -o-linear-gradient(top, #424242, black);
  background-image: linear-gradient(top, #424242, black);
  border-radius: 4px;
  margin: 100px auto 0 auto;
  color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  text-align: center; }
  .eze .alert-wrapper .alert-message {
    text-align: center;
    margin: 0 0 15px 0; }
  .eze .alert-wrapper form {
    margin: 0; }
  .eze .alert-wrapper input {
    width: 100%;
    border: 1px solid black;
    margin: 0 0 10px 0; }
  .eze .alert-wrapper button {
    margin: 5px auto 0 auto;
    display: block; }
.eze .eze-notification {
  z-index: 5000000 !important;
  width: 250px;
  border: 1px solid black;
  background-color: #454545;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#262626));
  background-image: -webkit-linear-gradient(top, #454545, #262626);
  background-image: -moz-linear-gradient(top, #454545, #262626);
  background-image: -ms-linear-gradient(top, #454545, #262626);
  background-image: -o-linear-gradient(top, #454545, #262626);
  background-image: linear-gradient(top, #454545, #262626);
  border-radius: 4px;
  margin: 0 auto 0 auto;
  color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4), inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer; }
  .eze .eze-notification .eze-iconwrap {
    position: absolute;
    height: 100%;
    width: 32px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
    background-color: #373737;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#373737), to(#1e1e1e));
    background-image: -webkit-linear-gradient(top, #373737, #1e1e1e);
    background-image: -moz-linear-gradient(top, #373737, #1e1e1e);
    background-image: -ms-linear-gradient(top, #373737, #1e1e1e);
    background-image: -o-linear-gradient(top, #373737, #1e1e1e);
    background-image: linear-gradient(top, #373737, #1e1e1e);
    text-align: center; }
    .eze .eze-notification .eze-iconwrap img {
      position: absolute;
      top: 50%;
      left: 0;
      margin: -5px 0 0 9px; }
  .eze .eze-notification .message-wrap {
    margin: 0 0 0 33px;
    padding: 10px 0 10px 10px;
    border-left: 1px solid black; }
  .eze .eze-notification h1 {
    font: normal 900 12px/16px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 10px 3px 0; }
  .eze .eze-notification p {
    font: normal 11px/16px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0 10px 0 0; }
.eze .eze-fadeout {
  z-index: 4000000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
  -webkit-animation: fade-in 0.5s;
  -moz-animation: fade-in 0.5s; }
.eze .eze-page-loader {
  width: 160px;
  position: fixed;
  height: 170px;
  top: 20%;
  left: 50%;
  margin: 0 0 0 -80px;
  z-index: 5000000;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.7)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
  border-radius: 4px;
  border: 1px solid black;
  box-shadow: inset 0 0 1px 0 white, 0 0 10px black;
  color: #cccccc;
  text-align: center;
  -webkit-animation: fade-in 0.5s;
  -moz-animation: fade-in 0.5s; }
  .eze .eze-page-loader img {
    margin: 30px 0 20px 0; }
  .eze .eze-page-loader h2 {
    font: normal 14px/14px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center; }
.eze #ezflow-timeline {
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5000000; }
  .eze #ezflow-timeline .wrapper {
    height: 53px;
    width: 100%;
    background-color: #0a0a0a;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0a0a0a), to(#2d2d2d));
    background-image: -webkit-linear-gradient(top, #0a0a0a, #2d2d2d);
    background-image: -moz-linear-gradient(top, #0a0a0a, #2d2d2d);
    background-image: -ms-linear-gradient(top, #0a0a0a, #2d2d2d);
    background-image: -o-linear-gradient(top, #0a0a0a, #2d2d2d);
    background-image: linear-gradient(top, #0a0a0a, #2d2d2d);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    bottom: 0;
    z-index: 1; }
  .eze #ezflow-timeline .datepicker {
    color: white;
    background: transparent;
    width: 120px;
    border: 1px solid #414141;
    float: left;
    margin: 40px 20px 0 74px;
    text-align: center;
    position: relative;
    z-index: 2;
    box-shadow: inset 0 0 0 1px black; }
  .eze #ezflow-timeline ul {
    margin: 0;
    left: 276px;
    height: 80px;
    width: 840px;
    list-style-type: none;
    overflow: hidden;
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .eze #ezflow-timeline li {
    float: left;
    width: 35px;
    height: 49px;
    text-align: center;
    font-size: 11px;
    color: #cccccc;
    padding: 4px 0 0 0;
    margin: 27px 0 0 0;
    z-index: 4;
    position: relative;
    cursor: pointer;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out; }
    .eze #ezflow-timeline li.even {
      padding: 30px 0 0 0;
      height: 23px; }
    .eze #ezflow-timeline li:hover {
      color: orange; }
  .eze #ezflow-timeline .gfx {
    height: 53px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 211px;
    background: url(/extension/ezexceed/design/ezexceed/images/sprite.png) -49px -84px no-repeat;
    display: block;
    z-index: 2; }
  .eze #ezflow-timeline .dragwrap {
    position: absolute;
    z-index: 3;
    left: 584px;
    cursor: ew-resize; }
  .eze #ezflow-timeline .drag, .eze #ezflow-timeline .ghost {
    background: url(/extension/ezexceed/design/ezexceed/images/sprite.png) 0 -84px no-repeat;
    height: 80px;
    width: 49px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
  .eze #ezflow-timeline .ghost {
    background: transparent;
    z-index: 5; }
.eze .eze-modal-action .btn, .eze .eze-modal-action input {
  margin: 17px 0 0 0; }
.eze .eze-modal-action input.empty {
  border: 1px dashed #999999;
  background: transparent;
  box-shadow: 0; }

@-webkit-keyframes table-publish {
  0% {
    background: white; }

  100% {
    background: #bee9bf; } }

@-moz-keyframes table-publish {
  0% {
    background: white; }

  100% {
    background: #bee9bf; } }

@-webkit-keyframes removing {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-moz-keyframes removing {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-webkit-keyframes autosave-highlight {
  0% {
    background: rgba(255, 204, 0, 0); }

  50% {
    background: #ffcc00; }

  100% {
    background: rgba(255, 204, 0, 0); } }

@-moz-keyframes autosave-highlight {
  0% {
    background: rgba(255, 204, 0, 0); }

  50% {
    background: #ffcc00; }

  100% {
    background: rgba(255, 204, 0, 0); } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes stack-content-move-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-webkit-keyframes stack-content-move-out {
  100% {
    opacity: 0;
    top: 150px; } }

@-moz-keyframes stack-content-move-out {
  100% {
    opacity: 0;
    top: 150px; } }

@-webkit-keyframes stack-header-move-in {
  0% {
    opacity: 0;
    margin-top: 40px; }

  50% {
    opacity: 1; }

  60% {
    margin-top: -5px; }

  100% {
    margin-top: 0; } }

@-moz-keyframes stack-header-move-in {
  0% {
    opacity: 0;
    margin-top: 40px; }

  50% {
    opacity: 1; }

  60% {
    margin-top: -5px; }

  100% {
    margin-top: 0; } }

@-webkit-keyframes stack-header-move-out {
  0% {
    margin-top: 0; }

  60% {
    margin-top: -5px;
    opacity: 1; }

  100% {
    margin-top: 60px;
    opacity: 0; } }

@-moz-keyframes stack-header-move-out {
  0% {
    margin-top: 0; }

  60% {
    margin-top: -5px;
    opacity: 1; }

  100% {
    margin-top: 60px;
    opacity: 0; } }

.eze .btn.load-more {
  padding: 10px; }

.keymedia-thumbs {
  clear: both;
  -webkit-transform: translate3d(0, 0, 0); }
  .keymedia-thumbs .item {
    float: left;
    cursor: pointer; }
    .keymedia-thumbs .item .pick {
      text-align: center;
      width: 170px;
      height: 190px;
      display: table-cell;
      padding: 10px 10px 0 10px;
      position: relative; }
      .keymedia-thumbs .item .pick img {
        border: 1px solid white;
        box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
        opacity: 0.9;
        -webkit-transition: opacity 0.2s ease-out;
        -moz-transition: opacity 0.2s ease-out;
        -o-transition: opacity 0.2s ease-out;
        transition: opacity 0.2s ease-out; }
      .keymedia-thumbs .item .pick .meta {
        text-overflow: ellipsis;
        max-width: 170px;
        white-space: nowrap;
        overflow: hidden;
        margin-top: 5px; }
        .keymedia-thumbs .item .pick .meta .details {
          font-size: 11px; }
      .keymedia-thumbs .item .pick:hover img {
        opacity: 1; }
      .keymedia-thumbs .item .pick .share {
        background: #44b6eb;
        font-size: 11px;
        margin: 0 0 0 5px;
        border-radius: 4px;
        padding: 2px 4px;
        color: white; }

.keymedia-crop .nav-pills.inverted li {
  margin-right: 10px;
  cursor: pointer; }
  .keymedia-crop .nav-pills.inverted li a {
    font: bold 12px/12px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
    padding: 5px 15px 3px 5px;
    border-style: dotted; }
    .keymedia-crop .nav-pills.inverted li a img {
      margin: -5px 0 0 0; }
  .keymedia-crop .nav-pills.inverted li small {
    font: normal 10px/10px "HelveticaNeue", Helvetica, Arial, sans-serif; }
  .keymedia-crop .nav-pills.inverted li.cropped a, .keymedia-crop .nav-pills.inverted li.cropped a:hover {
    background: white;
    color: black;
    border-color: white; }
  .keymedia-crop .nav-pills.inverted li.cropped .black, .keymedia-crop .nav-pills.inverted li.uncropped .black, .keymedia-crop .nav-pills.inverted li.active a .white {
    display: none; }
  .keymedia-crop .nav-pills.inverted li.active a .black {
    display: inline; }

.keymedia-crop-container .image-wrap {
  position: relative; }
  .keymedia-crop-container .image-wrap p {
    font-size: 14px;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 25% 0 0 0;
    margin: 0; }
  .keymedia-crop-container .image-wrap img {
    max-height: none;
    max-width: none;
    border: 1px solid white; }

.eze .eze-object-translations {
  background: white;
  float: left;
  width: 100%; }
  .eze .eze-object-translations ul {
    float: left;
    list-style: none;
    margin: 20px 10px 5px 20px; }
    .eze .eze-object-translations ul li {
      float: left;
      font: normal 12px/12px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
      margin: 0 10px 5px 0; }
      .eze .eze-object-translations ul li input {
        margin: -1px 5px 0 0;
        display: inline; }
      .eze .eze-object-translations ul li h1 {
        font: normal 16px/16px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
        margin: 0; }
.eze .attr-group {
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #fafafa, #dddddd);
  background-image: -moz-linear-gradient(top, #fafafa, #dddddd);
  background-image: -ms-linear-gradient(top, #fafafa, #dddddd);
  background-image: -o-linear-gradient(top, #fafafa, #dddddd);
  background-image: linear-gradient(top, #fafafa, #dddddd);
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #bbbbbb;
  padding: 10px 15px 8px 15px;
  font: normal 12px/12px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  clear: both;
  cursor: pointer; }
  .eze .attr-group.open {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#fafafa));
    background-image: -webkit-linear-gradient(top, #dddddd, #fafafa);
    background-image: -moz-linear-gradient(top, #dddddd, #fafafa);
    background-image: -ms-linear-gradient(top, #dddddd, #fafafa);
    background-image: -o-linear-gradient(top, #dddddd, #fafafa);
    background-image: linear-gradient(top, #dddddd, #fafafa);
    border-bottom: 0; }
.eze .collapse .eze-object-attribute {
  display: none; }
.eze .collapse.in .eze-object-attribute {
  display: block; }
.eze .eze-object-attributes {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
  z-index: 1;
  box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.1);
  border-right: 1px solid #cccccc; }
  .eze .eze-object-attributes .eze-object-attribute-wrap {
    float: left;
    width: 100%;
    border-top: 1px solid #eeeeee; }
  .eze .eze-object-attributes .eze-object-attribute {
    width: 50%;
    float: left;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    border-right: 1px solid #eeeeee; }
    .eze .eze-object-attributes .eze-object-attribute .label-required {
      float: right;
      margin: -15px;
      border-radius: 0;
      background: #eeeeee; }
    .eze .eze-object-attributes .eze-object-attribute.full-width {
      width: 100%; }
    .eze .eze-object-attributes .eze-object-attribute.last {
      border-left: 1px solid #eeeeee;
      border-right: 0; }
    .eze .eze-object-attributes .eze-object-attribute .heading {
      font: normal 14px/14px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
      color: #444444;
      margin-bottom: 10px; }
    .eze .eze-object-attributes .eze-object-attribute .description {
      font: normal 11px/16px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
      margin: -5px 0 10px 0; }
    .eze .eze-object-attributes .eze-object-attribute .alert {
      font: normal 12px/18px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
      margin: 0 0 15px 0; }
    .eze .eze-object-attributes .eze-object-attribute .language {
      font: normal 11px/11px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
      margin: 0 0 10px 0; }
      .eze .eze-object-attributes .eze-object-attribute .language img {
        margin: -3px 3px 0 0; }
  .eze .eze-object-attributes .ezstring input, .eze .eze-object-attributes .eze-date input {
    box-sizing: border-box;
    height: auto;
    width: 100%; }
  .eze .eze-object-attributes .ezselection select {
    width: 100%; }
  .eze .eze-object-attributes .eze-date .input-append {
    margin-right: 26px; }
  .eze .eze-object-attributes .eze-date .icon-calendar {
    font-size: 16px;
    vertical-align: 0; }
  .eze .eze-object-attributes .ezauthor .eze-items li .wrap input[type="text"], .eze .eze-object-attributes .ezauthor .eze-items li .wrap input[type="email"] {
    width: 33%;
    line-height: 25px; }
  .eze .eze-object-attributes .ezauthor .eze-items li .wrap img {
    margin-left: 10px; }
  .eze .eze-object-attributes .ezgmaplocation .find-address {
    margin-left: 10px;
    border-radius: 4px; }
  .eze .eze-object-attributes .ezgmaplocation .find-address-loader {
    margin: -4px 0 0 6px; }
  .eze .eze-object-attributes .ezgmaplocation .get-my-current-position {
    margin-bottom: 15px; }
  .eze .eze-object-attributes .ezgmaplocation .map {
    border: 1px solid #888888;
    background: white;
    width: 100%;
    clear: both; }
  .eze .eze-object-attributes .ezimage .btn, .eze .eze-object-attributes .keymedia .btn {
    margin: 0 5px 5px 0; }
  .eze .eze-object-attributes .ezimage .scale img, .eze .eze-object-attributes .keymedia .scale img {
    margin: -3px 0 0 -5px; }
  .eze .eze-object-attributes .ezimage .plupload, .eze .eze-object-attributes .keymedia .plupload {
    overflow: hidden; }
  .eze .eze-object-attributes .ezimage .eze-no-image, .eze .eze-object-attributes .keymedia .eze-no-image {
    clear: both; }
  .eze .eze-object-attributes .ezimage .thumbnail, .eze .eze-object-attributes .keymedia .thumbnail {
    position: relative;
    margin: 0 0 10px 0;
    background: white;
    float: left; }
    .eze .eze-object-attributes .ezimage .thumbnail img.info, .eze .eze-object-attributes .keymedia .thumbnail img.info {
      border-radius: 2px;
      min-height: 80px;
      min-width: 120px; }
      .eze .eze-object-attributes .ezimage .thumbnail img.info.icon-32, .eze .eze-object-attributes .keymedia .thumbnail img.info.icon-32 {
        min-height: 0;
        min-width: 0; }
    .eze .eze-object-attributes .ezimage .thumbnail .edit-image, .eze .eze-object-attributes .keymedia .thumbnail .edit-image {
      position: absolute;
      bottom: 10px;
      left: 10px; }
    .eze .eze-object-attributes .ezimage .thumbnail .close, .eze .eze-object-attributes .keymedia .thumbnail .close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 4px 10px 8px 10px;
      color: white;
      opacity: 1; }
    .eze .eze-object-attributes .ezimage .thumbnail:hover .close, .eze .eze-object-attributes .keymedia .thumbnail:hover .close {
      -webkit-transition: background 0.2s ease-out;
      -moz-transition: background 0.2s ease-out;
      -o-transition: background 0.2s ease-out;
      transition: background 0.2s ease-out;
      background: white;
      border-bottom-left-radius: 4px;
      color: black; }
  .eze .eze-object-attributes .ezimage .keymedia-tags, .eze .eze-object-attributes .keymedia .keymedia-tags {
    clear: both; }
  .eze .eze-object-attributes .ezimage .add-tag, .eze .eze-object-attributes .keymedia .add-tag {
    position: relative;
    clear: both; }
    .eze .eze-object-attributes .ezimage .add-tag .btn, .eze .eze-object-attributes .keymedia .add-tag .btn {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      margin: 0;
      z-index: 2; }
    .eze .eze-object-attributes .ezimage .add-tag input, .eze .eze-object-attributes .keymedia .add-tag input {
      box-sizing: border-box;
      height: auto;
      width: 100%; }
  .eze .eze-object-attributes .ezimage .tags .label, .eze .eze-object-attributes .keymedia .tags .label {
    padding: 2px 6px;
    font-size: 11px;
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    background: #666666; }
  .eze .eze-object-attributes .ezimage .tags .close, .eze .eze-object-attributes .keymedia .tags .close {
    font-weight: 100;
    font-size: 14px;
    float: none;
    opacity: 1;
    filter: alpha(opacity=100);
    font-size: 16px;
    margin: -6px 0 0 2px;
    color: white; }
  .eze .eze-object-attributes .ezimage input {
    float: left; }
  .eze .eze-object-attributes .ezmatrix table {
    margin: 0 0 10px 0; }
  .eze .eze-object-attributes .ezmatrix th {
    font: bold 11px/16px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif; }
    .eze .eze-object-attributes .ezmatrix th input[type="checkbox"] {
      margin: 5px 5px 2px 5px; }
  .eze .eze-object-attributes .ezmatrix td {
    padding: 0; }
    .eze .eze-object-attributes .ezmatrix td input[type="checkbox"] {
      margin: 7px 10px 5px 10px; }
  .eze .eze-object-attributes .ezmatrix input[type="text"] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    height: 25px;
    padding: 0 5px 0 5px;
    width: 100%; }
  .eze .eze-object-attributes .ezmatrix p {
    float: right;
    margin: 0; }
    .eze .eze-object-attributes .ezmatrix p .btn {
      float: right;
      margin-left: 5px; }
    .eze .eze-object-attributes .ezmatrix p select {
      width: 50px;
      margin: 2px 0 0 0;
      float: left; }
.eze .eze-object-sidebar {
  background: #eeeeee;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .eze .eze-object-sidebar .eze-container {
    border-top: 1px solid white;
    border-bottom: 1px solid #cccccc;
    padding: 20px;
    margin: 0 -10px;
    position: relative; }
    .eze .eze-object-sidebar .eze-container:first-child {
      border-top: 0;
      padding-top: 0; }
    .eze .eze-object-sidebar .eze-container:last-child {
      border-bottom: 0; }
    .eze .eze-object-sidebar .eze-container h1 {
      font: normal 15px/15px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
      margin-bottom: 5px; }
      .eze .eze-object-sidebar .eze-container h1 i {
        margin: 2px 5px 0 0; }
    .eze .eze-object-sidebar .eze-container h2 {
      font: bold 12px/18px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
      margin-bottom: 0; }
    .eze .eze-object-sidebar .eze-container p {
      font: normal 11px/16px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif; }
      .eze .eze-object-sidebar .eze-container p.revert {
        margin: 10px 0 0 0; }
        .eze .eze-object-sidebar .eze-container p.revert a {
          color: #333333;
          text-decoration: underline; }
    .eze .eze-object-sidebar .eze-container .options-menu {
      position: absolute;
      top: 25px;
      right: 20px; }
      .eze .eze-object-sidebar .eze-container .options-menu.active {
        left: 20px; }
    .eze .eze-object-sidebar .eze-container.subtree .create-new {
      margin: 0 0 10px 0; }
    .eze .eze-object-sidebar .eze-container.subtree .form-search {
      margin: 0 1px 10px 0; }
  .eze .eze-object-sidebar .eze-comments {
    background: #fafafa;
    border: 1px solid #cccccc; }
    .eze .eze-object-sidebar .eze-comments li:last-child {
      border-bottom: 0; }

.eze .eze-layout .active-layout {
  border: 3px solid orange; }
.eze .eze-layout h1 {
  font: normal 22px/22px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif; }
.eze .eze-layout h2 {
  margin: 20px 0 10px 0;
  font: bold 14px/14px "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif; }
.eze .eze-layout .nav {
  margin: 0 0 5px 0; }
.eze .eze-layout .add-new {
  margin: 0; }
  .eze .eze-layout .add-new select, .eze .eze-layout .add-new .select2-container {
    margin: 0 10px 0 0;
    min-width: 160px; }
.eze .eze-layout .tab-content {
  overflow: visible;
  padding: 5px 0 0 0; }
.eze .eze-layout .eze-items .wrap .title {
  width: 40%; }

.eze .block-settings input[type="number"] {
  width: 30px;
  margin: 0;
  text-align: right; }
.eze .block-settings select {
  width: 80px; }

#ezieMainContainer, .ui-widget {
  z-index: 80000000 !important; }

#mceModalBlocker {
  z-index: 29999900 !important; }

.clearlooks2 {
  z-index: 30000100 !important; }

#mce_fullscreen_container {
  z-index: 20000000 !important; }

body div.mceListBoxMenu {
  z-index: 70000000 !important;
  display: block; }

.select2-drop {
  font-size: 12px; }
  .select2-drop .select2-results {
    margin: 0; }

.select2-results .select2-highlighted, li.ui-timepicker-selected, .ui-timepicker-list li:hover, .ui-timepicker-list:hover .ui-timepicker-selected:hover {
  background: #ff9f00 !important; }

.select2-container-active .select2-choice {
  border: 1px solid orange !important; }

.eze input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox; }
.eze input[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio; }
.eze input[type="text"], .eze input[type="password"], .eze input[type="datetime"], .eze input[type="datetime-local"], .eze input[type="date"], .eze input[type="month"], .eze input[type="time"], .eze input[type="week"], .eze input[type="number"], .eze input[type="email"], .eze input[type="url"], .eze input[type="search"], .eze input[type="tel"], .eze input[type="color"], .eze input.uneditable-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
.eze .oe-window {
  border: 1px solid #cccccc; }
  .eze .oe-window textarea.box {
    width: 100%;
    padding: 0;
    border: 0;
    font-family: monospace; }
.eze .tab-content .tab-pane {
  -moz-animation: fade-in 0.5s ease 1 normal;
  -webkit-animation: fade-in 0.5s ease 1 normal; }
.eze .popover.right .arrow {
  border-right-color: #fafafa; }
.eze hr {
  margin: 15px 0; }
.eze .option-controller label {
  margin: 0 5px 0 0; }
.eze .option-controller input {
  margin: 0 5px 0 0;
  display: inline; }
.eze img {
  max-width: none; }
.eze p {
  font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif; }
.eze .nav-pills.inverted li a {
  background: transparent;
  border: 1px solid #cccccc;
  color: #cccccc; }
  .eze .nav-pills.inverted li a:hover {
    border-color: white;
    color: white; }
.eze .nav-pills.inverted li.active a {
  color: black;
  background-color: #ffbb00;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffbb00), to(#ff8d00));
  background-image: -webkit-linear-gradient(top, #ffbb00, #ff8d00);
  background-image: -moz-linear-gradient(top, #ffbb00, #ff8d00);
  background-image: -ms-linear-gradient(top, #ffbb00, #ff8d00);
  background-image: -o-linear-gradient(top, #ffbb00, #ff8d00);
  background-image: linear-gradient(top, #ffbb00, #ff8d00);
  border-color: transparent; }
.eze .popover {
  z-index: 6000000; }
.eze .btn .caret {
  margin-left: 5px;
  border-top: 4px solid #666666; }
.eze .dropdown-menu p {
  padding: 10px; }
  .eze .dropdown-menu p .danger {
    color: red; }
.eze .btn-mini {
  font-size: 11px; }
.eze .btn {
  padding: 3px 10px 2px 10px;
  border: 1px solid #bbbbbb; }
.eze .input-append .btn {
  border-radius: 0 3px 3px 0; }
.eze .remove-btn {
  padding: 3px 8px; }
.eze .btn-primary {
  background-color: #ffac00;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffac00), to(#ff9c00));
  background-image: -webkit-linear-gradient(top, #ffac00, #ff9c00);
  background-image: -moz-linear-gradient(top, #ffac00, #ff9c00);
  background-image: -ms-linear-gradient(top, #ffac00, #ff9c00);
  background-image: -o-linear-gradient(top, #ffac00, #ff9c00);
  background-image: linear-gradient(top, #ffac00, #ff9c00);
  border: 1px solid #d67f00;
  color: #332100;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
  .eze .btn-primary:hover {
    background: #ff9c00;
    color: #332100;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
  .eze .btn-primary.disabled, .eze .btn-primary[disabled] {
    background: #ff9c00;
    color: #332100; }
.eze .btn-inverse {
  border: 1px solid black; }
.eze .label, .eze .badge {
  text-shadow: none; }
.eze .label {
  font-weight: normal; }
  .eze .label.label-required {
    color: #777777;
    background: #cccccc; }
.eze textarea:focus,
.eze input[type="text"]:focus,
.eze input[type="password"]:focus,
.eze input[type="datetime"]:focus,
.eze input[type="datetime-local"]:focus,
.eze input[type="date"]:focus,
.eze input[type="month"]:focus,
.eze input[type="time"]:focus,
.eze input[type="week"]:focus,
.eze input[type="number"]:focus,
.eze input[type="email"]:focus,
.eze input[type="url"]:focus,
.eze input[type="search"]:focus,
.eze input[type="tel"]:focus,
.eze input[type="color"]:focus,
.eze .uneditable-input:focus {
  border-color: rgba(236, 173, 82, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 173, 82, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 173, 82, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(236, 173, 82, 0.6); }
.eze small {
  font-size: 90%; }
.eze a {
  color: black; }
  .eze a:hover {
    text-decoration: none; }
.eze select, .eze .select2-container {
  margin-bottom: 10px;
  height: 25px;
  font-size: 12px;
  zoom: normal; }
.eze .select2-container, .eze select, .eze input[type="file"] {
  height: 25px;
  line-height: 26px; }
.eze input[type="text"],
.eze input[type="password"],
.eze input[type="datetime"],
.eze input[type="datetime-local"],
.eze input[type="date"],
.eze input[type="month"],
.eze input[type="time"],
.eze input[type="week"],
.eze input[type="number"],
.eze input[type="email"],
.eze input[type="url"],
.eze input[type="search"],
.eze input[type="tel"],
.eze input[type="color"],
.eze .uneditable-input {
  line-height: 16px;
  height: 16px;
  padding: 6px 4px 3px 5px; }
.eze .input-prepend .add-on, .eze .input-append .add-on {
  height: 17px; }
.eze .status-icon {
  height: 9px;
  width: 9px;
  display: block;
  float: left;
  border-radius: 11px;
  border: 1px solid white; }
  .eze .status-icon.changed {
    background: #fff000;
    border-color: #d8c600; }
  .eze .status-icon.new {
    background: #ff4632;
    border-color: #d83a29; }
  .eze .status-icon.published {
    background: #a3e10b;
    border-color: #91c90a; }
.eze .icon-16 {
  height: 16px;
  width: 16px;
  max-width: 16px; }
.eze .icon-32 {
  height: 32px;
  width: 32px;
  max-width: 32px; }
.eze .icon-48 {
  height: 48px;
  width: 48px;
  max-width: 48px; }
.eze .icon-64 {
  height: 64px;
  width: 64px;
  max-width: 64px; }

body {
  margin-left: 63px;
  overflow-x: hidden; }

.eze {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  font: 12px/20px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: #333333 !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }
  .eze a {
    cursor: pointer; }
  .eze .hide {
    display: none !important; }

.eze-ontop {
  z-index: 80000000 !important; }
