/* Some strange bug causing IE8 going into comp mode when using autocomplete */
.ui-helper-hidden-accessible { display: block; }

/* IE doesnt support box-shadow, and filters is to cpu intensive */
.eze .popover { border: 2px solid #555!important;}
	.eze .popover.right .arrow { border-right-color: #555!important;}

.eze .eze-comments li .add-comment .btn { top: 1px!important; }

.eze #eze-toolbar ul li .quick-action {background: #1e1e1e}

.eze .eze-table .eze-table-content ul li.group-header { background: #fff!important; }
.eze .eze-items li.notification { background: #fafafa!important; }

.eze .eze-table .eze-table-content { top: 143px!important; }

.attribute-direct-edit { border: 1px solid #666!important; }

.eze-bigmodal, .eze-blackout, .eze-fadeout, .eze-page-loader, .keymedia-crop-container .image-wrap p { background: url(/extension/ezexceed/design/ezexceed/images/ie8-legacy-black-trans.png)!important; }
.eze-page-loader { border-color: #ccc!important;}

.eze .eze-table .eze-table-content .group-header { background: #fafafa!important; }

.eze .block-settings .chzn-container { margin-bottom: -10px!important}

.eze .dropdown-menu .active a { filter: none!important; }

.eze .eztext .attribute-content textarea { white-space: pre}