<li>
    <div class="wrap">
        <img class="icon-16" src="{{classIcon id=classId size=16}}">
        <span class="object-name">{{name}} ({{count}})</span>
        <div class="right-align">
            <a class="btn btn-mini expand" data-class-id="{{classId}}">
                <span class="show{{#if hasMain}} hide{{/if}}">{{translate "Show all"}}</span>
                <span class="hide-group{{#unless hasMain}} hide{{/unless}}">{{translate "Hide"}}</span>
            </a>
        </div>
    </div>
</li>

<li class="groupedLocations-{{classId}} locationGroup{{#unless hasMain}} hide{{/unless}}">
    <ul class="location-group-list"></ul>
</li>