<h1>
    {{#if publishable}}
        <i class="status-icon {{#if notPublished}}new{{else}}changed{{/if}}"></i>
        <span>{{translate "Publish this content"}}</span>
    {{else}}
        <i class="status-icon published"></i>
        <span>
            {{#if publishing}}
                {{translate "This content is being published"}}…
            {{else}}
                {{translate "This content is published"}}
            {{/if}}
        </span>
    {{/if}}
</h1>

<p class="description">
{{#if notPublished}}
    <span class="text">{{translate "It has never been published" context="eze"}}</span>
{{else}}
    <span class="text">{{translate "Last published" context="eze"}}</span>
    <time datetime="{{dateFormat modified}}">
        {{dateFormat modified format="dddd DD. MMM YY HH:mm"}}
    </time>
{{/if}}
</p>

{{#if publishable}}
<button type="button" class="btn btn-primary publish">{{translate "Publish now"}}</button>
{{/if}}
{{#if revert}}
<p class="revert"><a>{{translate "Revert all changes"}}…</a></p>
{{/if}}