{{#if timeline}}
<h4>{{translate "Preview the future with Timeline"}}</h4>
{{#if timelineOn}}
<button class="btn timeline">{{translate "Turn off timeline"}}</button>
{{else}}
<button class="btn timeline">{{translate "Turn on timeline"}}</button>
{{/if}}
<hr />
{{/if}}
<span class="preview-url-wrap hide">
    <h4>{{translate "Preview this page on an URL"}}</h4>
    <input class="preview-url" type="text" readonly="readonly" value="" />
    <hr />
</span>
<h4>{{translate "Send preview to devices"}}</h4>
{{#if devices}}
<table class="table">
    <tbody>
    {{#each devices}}
        <tr data-id="{{id}}" id="eze-device-{{id}}">
            <td>
                <p><img src="{{image}}" class="icon-32"> {{name}}</p>
            </td>
            <td>
                <button type="button" class="btn preview"
                    data-id="{{id}}"
                    data-sent="{{translate "Preview sent"}}"
                >{{translate "Send preview"}}</button>
            </td>
            <td>
                <label class="checkbox">
                    <input type="checkbox" class="follow" data-id="{{id}}"{{#if following}} checked{{/if}}>{{translate "Mirror browsing"}}
                </label>
            </td>
            <td>
                <button type="button" class="btn remove" data-id="{{id}}">{{translate "Remove"}}</button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
{{else}}
<p class="get-app">
<a class="btn btn-primary" target="_blank"
    href="https://itunes.apple.com/no/app/exceed/id567405821?ls=1&mt=8">{{translate "Get the app from the App Store"}}</a>
</p>
{{/if}}
