<section class="eze-fadeout"></section>
<section class="eze-page-loader">
	<img src="/extension/ezexceed/design/ezexceed/images/loader-white.gif" class="icon-64">
	<h2>{{translate "Loading future"}}…</h2>
</section>