<div class="alert-wrapper">
    <img class="alert-icon" src="{{icon "Alert" size=48 white=1}}" />
    <p class="alert-message">{{translate message}}</p>
    {{#if username}}
    <form onsubmit="return false;">
        <input name="login" type="text" placeholder="{{translate "Username"}}" value="{{username}}" disabled/>
        <input name="password" type="password" placeholder="{{translate "Password"}}" autofocus />
        <button type="submit" class="btn">{{translate "Login and resume"}}</button>
    </form>
    {{else}}
        <button type="submit" class="btn dismiss">{{translate "Dismiss"}}</button>
    {{/if}}
</div>
