<img class="user-image icon-32"
    src="{{#if avatar}}{{avatar}}{{else}}{{icon "DefaultUser" size=32}}{{/if}}">

<p class="entry">
    <span class="date">
        <strong>{{user_fullname}}</strong>
        {{timeformatted}}
    </span>
    <br />
    {{{activitystring}}}
</p>

<div class="input-append add-comment hide">
    <input data-reply-to-id="{{this.id}}" class="comment-input" type="text" placeholder="{{translate "Write message"}}…" />
    <button type="button" class="btn btn-mini">{{translate "Share"}}</button>
    <img class="icon-16 hide" src="/extension/ezexceed/design/ezexceed/images/loader.gif" />
</div>

<button type="button" class="btn btn-mini add-comment-button">{{translate "Comment"}}</button>

<div class="comments-container"></div>
