<span class="help-block description">{'Separate keywords with comma «,»'|i18n( 'eze' )}</span>
<input type="text" name="{$attribute_base}_ezkeyword_data_text_{$attribute.id}" value="{$attribute.content.keyword_string|wash(xhtml)}" />
