{{#if wrap}}
    <div class="loading-wrap eze-loader">
{{/if}}

    <img alt="{{text}}"
         src="{{#if loaderIcon}}{{icon loaderIcon size=size}}{{else}}{{icon "Loader" size=size}}{{/if}}"
         class="loader eze-loader {{className}}"/>{{translate statusText}}

{{#if wrap}}
    </div>
{{/if}}
