<li data-id="{{id}}" class="object-by-id-{{id}}">
    <div class="wrap">

        {{#if sortable}}
        <span class="reorder"></span>
        {{/if}}

        <img src="{{classIcon id=classId size=16}}" class="icon-16">
        {{#if className}}
        <small>{{className}}</small>
        {{/if}}
        <span class="object-name" title="{{pathFormatted}}">{{name}}</span>

        <div class="right-align">
            {{#if editable}}
            <a class="btn btn-mini edit-btn"
                data-id="{{id}}"
                data-name="{{name}}"
                data-class-id="{{classId}}"
            >
                {{translate "Edit"}}
            </a>
            {{/if}}
            {{#if radioselect}}
            <a class="btn btn-mini radio-btn"><input class="radioselect" type="radio" name="{{radioselectname}}" value="{{id}}" {{#if radioselectselected}}checked="checked"{{/if}}> {{translate radioselect}}</a>
            {{/if}}
            {{#if removable}}
            <a class="btn btn-mini remove-btn remove" data-object-id="{{id}}">x</a>
            <ul class="dropdown-menu confirm-remove hide">
                <li><p>{{translate removeconfirmtext}}</p></li>
                <li class="divider"></li>
                <li><a class="eze-confirm-action" data-id="{{id}}">{{translate "Yes, remove it"}}</a></li>
                <li><a class="eze-confirm-abort">{{translate "No, keep it"}}</a></li>
            </ul>
            {{/if}}
        </div>
    </div>
</li>
