<div class="tab-content">
    <input class="input-block-level" type="text" name="url" value="{{value}}" />
    <button class="btn sitemap pull-left" type="button">{{translate "Browse sitemap"}}</button>
    <button class="btn btn-primary insert pull-right" type="button">{{translate "Insert link"}}</button>
</div>