<p class="publish-info">
    {{translate "Last published"}}:
    {{#if published}}
    <time datetime="{{dateFormat modified format="DD.MM.YYYY"}}" pubdate>
        {{dateFormat modified format="DD. MMM YY HH:mm"}}
    </time>
    {{else}}
        {{translate "It has never been published"}}.
    {{/if}}
</p>

{{#if changed}}

    {{#if relatedChanges}}
    <label class="checkbox">
        <input type="checkbox">
        <strong>{{translate "Publish all related pages"}}</strong> {{objects.length}} {{translate "changed"}}
    </label>
    {{/if}}

    <ul class="eze-items">
        {{#each objects}}
        <li>
            <div class="wrap">
                <input type="checkbox" data-id="{{id}}"{{#if selected}} checked{{/if}}>
                <img src="{{classIcon size=16 id=classId}}" alt="{{name}}" class="icon-16">
                {{name}}
                <div class="right-align">
                    <i class="status-icon {{status}}"></i>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
    {{#unless active}}
    <button class="btn btn-primary disabled" disabled>{{translate "Publish pages"}}</button>
    {{else}}
    <button class="btn btn-primary">{{translate "Publish pages"}}</button>
    {{/unless}}
{{/if}}
