<a id="node-{{id}}" data-id="{{id}}">
    <img src="{{classIcon id=classId size=16}}" class="icon-16">

    <span>
    {{#if hasName}}
        {{name}}
    {{else}}
        {{translate "No name"}}
    {{/if}}
    </span>

    {{#if isContainer}}<i class="has-children-arrow kp-icon16 arrow-right-icon"></i>{{/if}}
</a>