<a data-toggle="dropdown" class="btn btn-mini dropdown-toggle">
    {{cap selectedNode.name false}}
    <span class="caret"></span>
</a>

<ul class="dropdown-menu">
    {{#each rootNodes}}
	<li{{#if selected}} class="active"{{/if}}>
	    <a data-node-id="{{id}}">{{cap name false}}</a>
	</li>
    {{/each}}
</ul>