    <div class="btn-group">
        <a class="btn dropdown-toggle{{#if primary}} btn-primary{{/if}}" data-toggle="dropdown">
            {{translate actionText}}
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><p>{{{translate statusText}}}</p></li>
            <li class="divider"></li>
            <li>
                <a class="eze-confirm-action">{{translate "Yes, remove it"}}</a>
            </li>
            <li>
                <a>{{translate "No, keep it"}}</a>
            </li>
        </ul>
    </div>
