body, td, pre {color:#000; font-family: 'Helvetica Neue Light', 'HelveticaNeue-Light', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, sans-serif; font-size:0.8em; line-height: 20px; margin:8px;}
body {background:#fff;}
body.mceForceColors {background:transparent; color:#000;}
body.mceBrowserDefaults {background:transparent; color:inherit; font-size:inherit; font-family:inherit;}
h1, h2, h3, h4, h5, h6 /* Set general styles for all headings; some may be overridden later */
{
  font-weight: bold;
  font-style: normal;
  margin: 0 0 0.5em 0;
  padding: 0;
}

h1
{
  margin-top: 0;
  font-size: 1.4em;
  font-weight: normal;
}

h2
{
  font-size: 1.3em;
}

h3
{
  font-size: 1.2em;
}

h4
{
  font-size: 1.1em;
}

h5
{
  font-size: 1em;
}

h6
{
  font-size: 1em;
  font-weight: normal;
}

.mceItemTable, .mceItemTable td, .mceItemTable th, .mceItemTable caption, .mceItemVisualAid {border: 1px dashed #BBB;}
a.mceItemAnchor {display:inline-block; -webkit-user-select:all; -webkit-user-modify:read-only; -moz-user-select:all; -moz-user-modify:read-only; width:11px !important; height:11px  !important; background:url(img/items.gif) no-repeat center center}
span.mceItemNbsp {background: #DDD}
td.mceSelected, th.mceSelected {background-color:#3399ff !important}
img {border:0;}
table, img, hr, .mceItemAnchor {cursor:default}
table td, table th {cursor:text}
ins {border-bottom:1px solid green; text-decoration: none; color:green}
del {color:red; text-decoration:line-through}
cite {border-bottom:1px dashed blue}
acronym {border-bottom:1px dotted #CCC; cursor:help}
abbr {border-bottom:1px dashed #CCC; cursor:help}

/* IE */
* html body {
scrollbar-3dlight-color:#F0F0EE;
scrollbar-arrow-color:#676662;
scrollbar-base-color:#F0F0EE;
scrollbar-darkshadow-color:#DDD;
scrollbar-face-color:#E0E0DD;
scrollbar-highlight-color:#F0F0EE;
scrollbar-shadow-color:#F0F0EE;
scrollbar-track-color:#F5F5F5;
}

img:-moz-broken {-moz-force-broken-image-icon:1; width:24px; height:24px}
font[face=mceinline] {font-family:inherit !important}
*[contentEditable]:focus {outline:0}

.mceItemMedia {border:1px dotted #cc0000; background-position:center; background-repeat:no-repeat; background-color:#ffffcc}
.mceItemShockWave {background-image:url(img/shockwave.gif)}
.mceItemFlash {background-image:url(img/flash.gif)}
.mceItemQuickTime {background-image:url(img/quicktime.gif)}
.mceItemWindowsMedia {background-image:url(img/windowsmedia.gif)}
.mceItemRealMedia {background-image:url(img/realmedia.gif)}
.mceItemVideo {background-image:url(img/video.gif)}
.mceItemAudio {background-image:url(img/video.gif)}
.mceItemEmbeddedAudio {background-image:url(img/video.gif)}
.mceItemIframe {background-image:url(img/iframe.gif)}
.mcePageBreak {display:block;border:0;width:100%;height:12px;border-top:1px dotted #ccc;margin-top:15px;background:#fff url(img/pagebreak.gif) no-repeat center top;}

/*  Link styles */

a { color: #0000ff; text-decoration: underline; }
span.ezoeItemNonEditable a { color: black!important; text-decoration: none!important; }
a span.ezoeItemNonEditable a { color: #0000ff!important; text-decoration: underline!important; }

/* Literal style */

pre
{
  background-color: #ccccff;
  color: #000;
  margin: 8px;
  font-size: 1.1em;
}

/* general block tags (embed and custom) */

* html div.ezoeItemNonEditable,
* html div.ezoeItemCustomTag { height: 1%; }

div.ezoeItemNonEditable:after,
div.ezoeItemCustomTag:after
{
    content: "-";
    height: 0;
    font-size: 0;
    visibility: hidden;
    display: block;
    clear: both;
}


/* custom tag style */

div.ezoeItemCustomTag
{ 
  padding: 0.5em;
  border: 1px solid #5090c0;
}

div.ezoeItemCustomTag, span.ezoeItemCustomTag { background-color: #ccffff; }

span.ezoeItemCustomTag p
{
    display: inline;
    clear: none;
    padding-left: 2px;
    padding-right: 2px;
}

/* Visualisation of default inline custom tags */

span.ezoeItemCustomTag.sub
{
  vertical-align: sub;
  font-size: 0.8em;
}

span.ezoeItemCustomTag.sup
{
  vertical-align: super;
  font-size: 0.8em;
}

span.ezoeItemCustomTag.strike
{
  text-decoration: line-through;
}

span.ezoeItemCustomTag.underline
{
  background-color: transparent;
  text-decoration: underline
}

/* Visualisation of default block custom tags */

div.ezoeItemCustomTag.pagebreak
{
  height: 12px;
  border: 1px dotted #ccc;
  margin: 15px 0 15px 0;
}

div.ezoeItemCustomTag.pagebreak p { margin: 0; }

div.ezoeItemCustomTag.separator
{
    padding: 0;
    margin: 0.5em 0;
    clear: both;
}

div.ezoeItemCustomTag.separator p { margin: 2px; }


/* change the style for embed tags */

div.ezoeItemNonEditable, span.ezoeItemNonEditable
{
    background: transparent url('img/mail-attachment.png') no-repeat 0 2px scroll;
    min-height: 18px;
    padding-left: 16px;
}

/* core.css ez layout styles for embed tags */

div.ezoeItemNonEditable div.block /* Used around groups of objects which are connected in some way, and requires extra margins to the surroundings */
{
  margin: 0.5em 0 0.5em 0;
  padding: 0;
  clear: both;
}

div.ezoeItemNonEditable div.block div.element /* Used if several objects are to be stacked horizontally within the same block */
{
  padding-right: 1em;
  float: left;
}

div.ezoeItemNonEditable div.block div.left /* Floats elements to the left in a block */
{
  width: 48%;
  float: left;
  clear: left;
}

div.ezoeItemNonEditable div.block div.right /* Floats elements to the right in a block */
{
  width: 48%;
  float: right;
  clear: right;
}

div.ezoeItemNonEditable div.object-left /* Used for floating images and other content elements to the left inside other content */
{
  margin: 0.25em 0.25em 0.25em 0;
  float: left;
  clear: left;
}

div.ezoeItemNonEditable div.object-right /* Used for floating images and other content elements to the right inside other content */
{
  margin: 0.25em 0 0.25em 0.25em;
  float: right;
  clear: right;
}

div.ezoeItemNonEditable div.split
{
  clear: both;
}

div.ezoeItemNonEditable div.split:after /* Terminate floating elements flow */
{
  content: "-";
  height: 0;
  font-size: 0;
  visibility: hidden;
  display: block;
  clear: both;
}

div.ezoeItemNonEditable div.split div.three-left
{
  width: 31%;
  float: left;
}

div.ezoeItemNonEditable div.split div.three-right
{
  width: 31%;
  float: right;
}

div.ezoeItemNonEditable div.split div.three-center
{
  margin: 0 35% 0 35%;
}

* html div.ezoeItemNonEditable .float-break
{
    height: 1%; /* Fix for IE */
}

div.ezoeItemNonEditable .float-break:after /* Terminate floating elements flow */
{
    content: "-";
    height: 0;
    font-size: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

div.ezoeItemNonEditable div.break /* Old method for terminating floating elements flow; kept for backwards compatibility */
{
    clear: both;
    font-size: 1px; /* Fix for IE */
    height: 1px;
    margin-bottom: -1px;
}


/* Validation error, currently used when you try to publish with a embed tag linking to a deleted object */

.ezoeItemValidationError { border: 1px solid red; }

img.ezoeAlignmiddle
{
display:block;
margin:0 auto;
}

/* Example of class visualization for paragraph element:
   red background and center-aligned text. */

p.pRed
{
   background-color: red;
   text-align: center;
}
