<ul class="eze-content-types">
    {{#each this}}
    <li data-name="{{this.name}}" data-class-id="{{this.id}}">
        <img src="{{classIcon size=16 id=this.id}}" class="icon-16" />
        {{this.name}}
    </li>
    {{/each}}
</ul>
